<div class="container">
  <div class="row">
    <div class="col-7 left">
      <div class="form-group">
        <select class="form-control select-variable" (change)="changeSelectedType($event)">
          <option *ngFor="let type of typesAvailable" [value]="type['name']" >{{type['label']}}</option>

        </select>
      </div>
    </div>
    <div class="col-5 right">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-sm btn-option" (click)="changeDateType('day')" [ngClass]="date === 'day' ? 'selected' : ''">Día</button>
        </div>
        <div class="col-6">
          <button class="btn btn-sm btn-option" (click)="changeDateType('month')" [ngClass]="date === 'month' ? 'selected' : ''">Mes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center chart-view google_chart">
        <google-chart (mouseOver)="mouseOver($event)" [data]="columnChart"  *ngIf="selectedType !== ''"></google-chart>
    </div>
  </div>
</div>