
.container {
    width: 100%;
    max-width: 100vw;
    background: white;
    padding-top: 10px;
}

.select-variable {
    width: 80%;
    background: #E2ECFC;
    color: #000000;
    font-weight: bolder;
}

.btn-option {
    width: 66px;
    height: 29px;
    background: #E2ECFC;
    border-radius: 5px;
    text-align: center;
    font-size: 0.7em;
}

.chart-view {
    width: 100%;
    height: 250px;
}

.btn.selected {
    border: 1px solid #16355E;
}