<div class="container">


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos del vehiculo</h5>

          <div class="row">
            <div class="col-lg-4" *ngIf="!newVehicleChecked">
              <div class="form-group">
                <label for="vehicle">Vehículo asignado</label>
                <select (change)="assignVehicle($event)" id="vehicle" [(ngModel)]="infoContract.vehicleAssigned" class="form-control">
                  <option value="0">Indique el vehículo asignado</option>
                  <option  *ngFor="let option of configuration.plates" value="{{option['id']}}|{{option['plate']}}" >{{option['plate']}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Documentos del vehículo</h5>

          <div class="row">
            <div class="col-lg-6" *ngFor="let doc of configuration.documents; let i=index">
              <div class="form-group">
                <label for="number">{{doc['Label']}}</label>
                <input attr.data-name="{{doc['Name']}}" (change)="onFileSelected($event)" type="file" class="form-control">
                <mat-form-field class="dateOfBirth" >
                  <input matInput (dateChange)="assignExpirationDate($event, doc['Name'])" [matDatepicker]="i" placeholder="Fecha de vencimiento (Si aplica)">
                  <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                  <mat-datepicker #i></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body center">

            <button (click)="saveAll()" class="btn btn-lg btn-success">Guardar</button>

        </div>
      </div>
    </div>
  </div>

</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>

