<div class="row alert-configuration">
  <div class="row sub-group-div">
    <div class="col-6 group-title div-sub-group">
      <p align="left" class="sub-title  sub-container white-text text-sub-group">
        {{labelAlert}}
      </p>
    </div>
    <div class="col-12">
      <p align="left" class="sub-title  sub-container text-sub-group">
        Establece un limite que te permita conocer el estado de tus activos
      </p>
    </div>

    <div class="row container-colors">
      <div class="col-4">
        <div class="div-color div-red"></div>
      </div>
      <div class="col-4">
        <div class="div-color div-yellow"></div>
      </div>
      <div class="col-4">
        <div class="div-color div-green"></div>
      </div>
    </div>


    <div class="row container-colors">
      <div class="col-4">
        <input (change)="changeValue($event, 'red')" type="text"
               class="input-selector-alert  third-width" value="{{configuration['normal'].red.start}}">
      </div>
      <div class="col-4">
        <input (change)="changeValue($event, 'yellow')" type="text"
               class="input-selector-alert  third-width" value="{{configuration['normal'].yellow.start}}">
      </div>
      <div class="col-4">
        <input (change)="changeValue($event, 'green')" type="text"
               class="input-selector-alert  third-width" value="{{configuration['normal'].green.start}}">
      </div>
    </div>
  </div>

  <div class="col-12 center">
    <button (click)="saveAlerts()" class="btn btn-success btn-save">Guardar cambios</button>
  </div>

</div>
