<div class="container" fxFill>
    <div class="row">
      <div class="col-6 padding-sides"  [ngClass]="_PermissionService.canAccess('inspection_widgets') ? '' : 'blur-div'">
        <app-inspect-variables></app-inspect-variables>
      </div>
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('inspection_widgets') ? '' : 'blur-div'">
        <app-construction></app-construction>
      </div>
      <div class="col-3 padding-sides"  [ngClass]="_PermissionService.canAccess('inspection_widgets') ? '' : 'blur-div'">
        <app-inspection-count></app-inspection-count>
      </div>
    </div>
  <div class="row" *ngIf="_PermissionService.canAccess('main_chart')">
    <div class="col-12 no-padding-sides">
      <app-table-operations [pageSize]="5"
                            [hidePagination]="false"
                            [hideButtons]="false"
                            [url]="'get-drivers-ranking'"
                            [urlExcel]="'get-drivers-ranking-all'"
                            [columns]="attributeLabels"
                            [pageSizeOptions]="[]"
                            [microService]="scoreMicroService"
                            [classCRow]="'bg-white'"
                            [showBasicBtns]="true"></app-table-operations>
    </div>
  </div>
    <div class="row" *ngIf="_PermissionService.canAccess('variable_chart')">
      <div class="col-12 no-padding-sides">
        <app-variable-graph
        [typesAvailable] = "[
        {name:'paymentFrecuency', label: 'Frecuencia de pago', title: 'Dias promedio'},
        {name:'paymentPercentage', label: 'Cumplimiento', title: 'Porcentaje de pago promedio'},
        {name:'debtAmount', label: 'Deuda vencida', title: 'Monto de deuda vencida'},
        {name:'lowKilometers', label: 'Productividad', title: 'Kilometros recorridos promedio'}
        ]"
        ></app-variable-graph>
      </div>
    </div>
  </div>
  
