<mat-card class="check-card">
    <mat-card-header fxFill>
        <mat-card-title>
            <div fxFlex="100%" class="left">
                <a routerLink="/driver/operation-dashboard" routerLinkActive="active" class="link-title">Inspección</a>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div class="col-12 col-12 col-12 check-table-container">
            <app-table
              [columns]="attributeLabelsMaintenance"
              [url]="'get-check-info'"
              [urlExcel]="'get-check-info-all'"
              [pageSize]="5"
              [hideButtons]="false"
              [hidePagination]="false"
              [microService]="checkMicroService"
              [pageSizeOptions]="[]"></app-table>
        </div>
    </mat-card-content>
</mat-card>

