<div class="container">
  <div class="row">
    <div class="col-6 maps-container">
      <app-maps></app-maps>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <div class="row">
        <div class="col-12 title">
          {{'home.gps'|translate}}
        </div>
        <div class="col-12">
            <div class="floating-panel">
                <p class="map-text">{{'home.gps'|translate}} {{'home.little'|translate}} {{'home.frequent'|translate}}</p>
                <div class="gradient"></div>
                <p class="map-text">{{'home.frequent-title'|translate}}</p>
            </div>
        </div>
        <div class="col-12 blue-card">
          <div class="row">
            <div class="col-6 left medium-text">
              {{'shared.vehicles'|translate}} {{'not'|translate}} {{'shared.operational'|translate}}:
            </div>
            <div class="col-6 right big-text">
                {{vehiclesShutdown}} / {{totalVehicles}}
            </div>
          </div>
          <div class="row">
            <div class="col-6 left medium-text">
              {{'home.shutdown'|translate}} {{'for'|translate}} {{'home.financial'|translate}}:
            </div>
            <div class="col-6 right big-text">
              0
            </div>
          </div>
        </div>
        <div class="col-12  white-card">
          <div class="row">
            <div class="col-6 left medium-text">
              {{'shared.vehicles'|translate}} {{'that'|translate}}  {{'not'|translate}}  {{'home.report'|translate}}:
            </div>
            <div class="col-6 right big-text">
                {{vehiclesNotReporting}} / {{totalVehicles}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
