.maps-container {
    height: 336px;
    margin: 0 auto;

    width: 570px;
}
.container {
    width: 100%;
    max-width: 100vw;
}
.map {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 auto;
  }
  
  .gradient {
    width: 153px;
    height: 24px;
    background: linear-gradient(270deg, #FF6B00 0%, #CCC900 24.86%, #91DE00 54.14%, #5AF100 80.66%, #33FF00 100%);
    border-radius: 6px;
    margin-top: 5px;
  }
.floating-panel {
    left: 0;
    right: 0;
    z-index: 3;
    width: 362px;
    height: 35px;
    background: white;
    margin-top: 24px;
    margin-left: auto;
    border-radius: 8px;
    margin-right: auto;
    position: absolute;
    display: inline-flex;
  }
  
  .floating-panel-zoom > div{
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .floating-panel-zoom {
    left: 0;
    right: 0;
    z-index: 3;
    width: 336px;
    height: 35px;
    background: white;
    margin-top: 62px;
    margin-left: auto;
    border-radius: 8px;
    margin-right: auto;
    position: absolute;
    display: inline-flex;
    text-align: center;
  }



.map-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 10px;
    color: #16355E;
    padding: 10px 10px 0 10px;
  }

  .title {
    color: #16355E;
    font-size: 1.2em;
    font-weight: bolder;
  }

  .white-card {
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #16355E !important;
  }

  .blue-card {
    width: 321px;
    height: 100px;
    background: #16355E;
    color: white;
    margin-top: 64px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .medium-text {
      font-size: 0.7em;
      font-weight: bolder;
  }

  .big-text {
      font-size: 1.1em;
      font-weight: bolder;
  }
