.vehicle-container {
  width: 100%;
  height: 102px;
  margin-top: 23px;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(24, 117, 240, 0.05);
}

.vehicle-div {
  height: 102px;
}

.vehicle-div-border {
  border-left: 1px solid #D3DCEC;
}


.cars-image {
  width: 195px;
  height: 72px;
  background: #219653;
  box-shadow: 0 4px 20px rgba(24, 117, 240, 0.2);
  border-radius: 60px;
  margin-top: 15px;
  padding-top: 19px;
  position: absolute;
  display: inline-flex;
  left: 25px;
}

.cars-image span {
  margin-left: 23px;
}

.vehicle-indicator {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 5px;
}

.vehicle-total-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.3);
}

.vehicle-text {
  font-size: 16px;
  padding-top: 35px;
}
