hr {
  color: white;
  background-color: white;
}

p {
  font-size: 10px;
}

.notification-container {
  width: 230px;
}

.notification-flex {
  display: inline-flex;
}

.notification-init {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px
}

.notification-header {
  margin-top: 10px;
  margin-left: 10px;
}

.notification-header-text {
  display: inline-flex;
}

.notification-date {
  margin-left: 0;
}

.notification-body-text {
  margin-left: 40px;
  margin-top: -20px;
}

.text-large {
  font-size: 0.8em;
}

.text-small {
  font-size: 0.6em;
}

.btn-header-div {
  width: 190px;
  padding: 10px;
  font-size: 0.6em;
}

.dots{
  overflow: hidden;
  text-overflow: ellipsis;
}
