<button mat-icon-button [popover]="alertsPopover">
  <mat-icon>add_alert</mat-icon>
</button>

<button mat-icon-button [popover]="settingsPopover">
  <mat-icon>settings</mat-icon>
</button>

<popover-content #settingsPopover
                 title=""
                 placement="bottom"
                 [animation]="true"
                 [closeOnClickOutside]="true">
  <div class="btn-header-div">
    <a routerLink="/system/account" routerLinkActive="active" class="link-title">
      Cuenta
    </a>
    <br>
    <hr>
    <a routerLink="/system/configuration" routerLinkActive="active" class="link-title">
      Configuración de alertas
    </a>
    <br>
    <hr>
    <a routerLink="/system/newContract" routerLinkActive="active" class="link-title" >
      Agregar contrato
    </a>
    <br>
    <hr>
    <a routerLink="/system/newPayment" routerLinkActive="active" class="link-title" >
      Ingresar pago
    </a>
    <br>
    <hr>
    <a routerLink="/system/updateDocuments" routerLinkActive="active" class="link-title" >
      Actualizar documentos
    </a>
  </div>
</popover-content>


<popover-content #alertsPopover
                 title=""
                 placement="bottom"
                 [animation]="true"
                 [closeOnClickOutside]="true">
  <div class="notification-container">
    <div *ngFor="let item of notifications">
      <div class="notification-flex" style="width: 100%">
        <table>
          <tr>
            <td rowspan="3" style="width: 20%; text-align: center;">
              <div class="notification-init"></div>
            </td>
            <td class="text-large">
              {{item.title}}
            </td>
          </tr>
          <tr>
            <td class="text-small dots">
              {{item.text}}
            </td>
          </tr>
          <tr>
            <td class="text-small">
              {{item.date | date:'yyyy/M/d, h:mm a'}}
            </td>
          </tr>
        </table>
      </div>
      <hr>
    </div>
  </div>
</popover-content>
