<div class="container">
  <div class="row">
    <div class="col-8">
      <span class="title">{{title}}: </span> <span class="subtitle">{{subtitle}} ({{numberRecords}})</span>
    </div>
    <div class="col-4">
      <div class="download-icon" (click)="downloadData()">
          <img [src]="'assets/icons/Descargas-white.svg'" alt="">
      </div>
    </div>
    <div class="col-12">
        <table mat-table matSort [dataSource]="dataSource">

            <ng-container *ngFor="let column of table['headers'];" matColumnDef="{{ column }}">

              <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ column }}">
                {{column}}
              </th>

              <td mat-cell *matCellDef="let row" ngClass="classCRow">
                {{row[column] | dateFormat:column }}
              </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
