.container {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.download-icon {
    width: 40px;
    height: 40px;
    border-radius: 11px;
    float: right;
    background-color: #1875F0;
    cursor: pointer;
}