<div class="container container-next no-padding-sides no-padding-bottom">
  <div class="row header">
    <div class="col-2">
      <div class="icon-card icon-card-yellow">
        <img [src]="'assets/icons_name/debt.svg'">
      </div>
    </div>
    <div class="col-8">
      <span class="title-card">{{'home.debt_amount'|translate}} {{'defeated'|translate}}</span>
    </div>
    <div class="col-2">
      <div class="icon-card icon-card-big">
        <div class="icon-card icon-card-dot">
        </div>
      </div>
    </div>
  </div>


  
  <div class="row no-padding-sides debt-container">
    <div class="col-12 no-padding-sides">
      <div class="row">
        <div class="col-7 center">
          <span class="subtitle-card-white-medium">{{'home.debt_amount'|translate}} {{'total'|translate}}:</span>
        </div>
        <div class="col-5 center">
            <span class="subtitle-card-white-medium2">{{'home.days'|translate}} {{'of'|translate}} {{'mora'|translate}}:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-7 center">
          <span class="big-text-card-white">{{ totalDebt | suffPipe:',':'.':'S/' }}</span>
        </div>
        <div class="col-5 center">
            <span class="big-text-card-white">{{daysInDebt}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
