.forgot-password-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 25px;
  color: #16355E;
}

.forgot-password-form {
  margin-top: 40px;
}

.forgot-password-form-item {
  width: 85%;
  margin-top: 26px;
}

.forgot-password-button-width {
  width: 70%;
  color: white;
  margin-top: 15px;
  background: #11CB87;
}

.title-container{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 2em;
  color: #16355E;
}

.title-input{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 1.3em;
  color: #16355E;
}

.input-email{
  background: #E2ECFC;
  border-radius: 4px;
  height: 50px;
  font-size: 1.3em;
}

.btn-send{
  background: #11CB87;
  border-radius: 8px;font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.3em;
  text-align: center;
  width: 173px;
  height: 41px;
  color: #F8F8F8;
}
