<form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
  <div class="container">
    <div class="row">
      <div class="col-12 title-container">
        Recupera tu cuenta
      </div>
    </div>
    <div class="row">
      <div class="col-12 title-input">
        Correo electrónico:
      </div>
    </div>
    <div class="row">
      <div class="col-12 title-input">
        <input formControlName="email" type="text" class="form-control input-email" placeholder="Escribe tu correo electrónico">
        <mat-error *ngIf="forgotPasswordForm.controls['email'].touched && !forgotPasswordForm.controls['email'].valid">
        {{formError['email']}}
      </mat-error>
      </div>
    </div>
    <div class="row">
      <div class="col-12 title-input center">
        <button type="submit" [disabled]="submitted"class="btn btn-info btn-send">Recuperar cuenta</button>
      </div>
    </div>
  </div>
</form>
