<div class="container">
  <div class="row" id="collect2">
    <div class="col-12">
      <app-table [columns]="attributeLabelsInstallments"
                 [url]="'get-payments'"
                 [urlExcel]="'get-payments-all'"
                 [pageSize]="5"
                 [hideButtons]="false"
                 [hidePagination]="false"
                 [microService]="collectMicroService"
      ></app-table>
    </div>
  </div>
</div>



