<app-nav-component-generator [navLinks]="navLinks"></app-nav-component-generator>
<div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
  <div fxFlex="100%" fxFlexAlign="center" align="center">
    <div align="left">
      <p class="component-title">Ubicación</p>
    </div>
    <div class="location-map">
      <app-maps></app-maps>
    </div>
  </div>
</div>
