
<mat-tab-group #tabGroup>
  <mat-tab label="Todos">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="title">Accidentes</p>
          <app-table [columns]="attributeLabelsAccidents"
                     [url]="'get-accidents'"
                     [urlExcel]="'get-accidents-all'"
                     [pageSize]="5"
                     [hideButtons]="false"
                     [hidePagination]="true"
                     [tableName]="'Novelty_'"
                     [microService]="riskMicroService"
                     [typeAlert]="'accidents'"
          ></app-table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="title">Comparendos</p>
          <app-table [columns]="attributeLabelsTickets"
                     [url]="'get-tickets'"
                     [urlExcel]="'get-tickets-all'"
                     [pageSize]="5"
                     [hideButtons]="false"
                     [hidePagination]="true"
                     [tableName]="'Novelty_'"
                     [microService]="riskMicroService"
                     [typeAlert]="'tickets'"
          ></app-table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p class="title">Vacaciones</p>
          <app-table [columns]="attributeLabelsHolidaySick"
                     [url]="'get-holidays'"
                     [urlExcel]="'get-holidays-all'"
                     [pageSize]="5"
                     [hideButtons]="false"
                     [hidePagination]="true"
                     [tableName]="'Novelty_'"
                     [microService]="riskMicroService"
                     [typeAlert]="'holidays'"
          ></app-table>
        </div>
        <div class="col-lg-6">
          <p class="title">Enfermedades</p>
          <app-table [columns]="attributeLabelsHolidaySick"
                     [url]="'get-sickness'"
                     [urlExcel]="'get-sickness-all'"
                     [pageSize]="5"
                     [hideButtons]="false"
                     [hidePagination]="true"
                     [tableName]="'Novelty_'"
                     [microService]="riskMicroService"
                     [typeAlert]="'sickness'"
          ></app-table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="title">Documentos</p>
          <app-table [columns]="attributeLabelsDocuments"
                     [url]="'get-documents'"
                     [urlExcel]="'get-documents-all'"
                     [pageSize]="5"
                     [hideButtons]="false"
                     [hidePagination]="true"
                     [tableName]="'Novelty_'"
                     [microService]="riskMicroService"
          ></app-table>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Accidentes">

    <div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
      <div fxFlex="100%" fxFlexAlign="center" align="center">
        <p class="title">Accidentes</p>
        <div class="cards">
          <div class="card-container">
            <app-table [columns]="attributeLabelsAccidents"
                       [url]="'get-accidents'"
                       [urlExcel]="'get-accidents-all'"
                       [pageSize]="5"
                       [hideButtons]="false"
                       [hidePagination]="false"
                       [tableName]="'Novelty_'"
                       [microService]="riskMicroService"
                       [typeAlert]="'accidents'"
            ></app-table>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Comparendos">

    <div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
      <div fxFlex="100%" fxFlexAlign="center" align="center">
        <p class="title">Comparendos</p>
        <div class="cards">
          <div class="card-container">
            <app-table [columns]="attributeLabelsTickets"
                       [url]="'get-tickets'"
                       [urlExcel]="'get-tickets-all'"
                       [pageSize]="5"
                       [hideButtons]="false"
                       [hidePagination]="false"
                       [tableName]="'Novelty_'"
                       [microService]="riskMicroService"
                       [typeAlert]="'tickets'"
            ></app-table>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Enfermedad">

    <div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
      <div fxFlex="100%" fxFlexAlign="center" align="center">
        <p class="title">Enfermedades</p>
        <div class="cards">
          <div class="card-container">
            <app-table [columns]="attributeLabelsHolidaySick"
                       [url]="'get-sickness'"
                       [urlExcel]="'get-sickness-all'"
                       [pageSize]="5"
                       [hideButtons]="false"
                       [hidePagination]="false"
                       [tableName]="'Novelty_'"
                       [microService]="riskMicroService"
                       [typeAlert]="'sickness'"
            ></app-table>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Vacaciones">

    <div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
      <div fxFlex="100%" fxFlexAlign="center" align="center">
        <p class="title">Vacaciones</p>
        <div class="cards">
          <div class="card-container">
            <app-table [columns]="attributeLabelsHolidaySick"
                       [url]="'get-holidays'"
                       [urlExcel]="'get-holidays-all'"
                       [microService]="riskMicroService"
                       [pageSize]="5"
                       [hideButtons]="false"
                       [hidePagination]="false"
                       [tableName]="'Novelty_'"
                       [typeAlert]="'holidays'"
            ></app-table>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Documentos">

    <div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
      <div fxFlex="100%" fxFlexAlign="center" align="center">
        <p class="title">Documentos</p>
        <div class="cards">
          <div class="card-container">
            <app-table [columns]="attributeLabelsDocuments"
                       [url]="'get-documents'"
                       [urlExcel]="'get-documents-all'"
                       [microService]="riskMicroService"
                       [pageSize]="5"
                       [hideButtons]="false"
                       [hidePagination]="false"
                       [tableName]="'Novelty_'"
            ></app-table>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>

