.half-size{
  max-width: 45vw;
  width: 43vw;
  margin-right: 10px;
  margin-left: 10px;
}

mat-tab-group{
  padding-left: 15px;
  padding-right: 15px;
}

.mat-sort-header-container{
  justify-content: left !important;
}

.mat-cell{
  text-align: center !important;
}
