<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingresar Orden de Captura </h5>
      <div class="row">
        <div class="col-lg-12">
          <input type="file" (change)="onFileChange($event)" multiple="false" />
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Vehiculos a Modificar</h5>
      <div class="row">
        <div class="col-2">
          Placa
        </div>
        <div class="col-3">
          Documento
        </div>
        <div class="col-3">
          Concepto
        </div>
        <div class="col-1">
          Estado
        </div>
      </div>

      <div class="row" *ngFor="let payment of dataFinal">
        <div class="col-2">
          {{payment['plate']}}
        </div>
        <div class="col-3">
          {{payment['document']}}
        </div>
        <div class="col-3">
          {{payment['concept']}}
        </div>
        <div class="col-1" *ngIf="payment['status']==='success'">
          <img style="width: 2rem !important;" [src]="'assets/img/Bien.svg'" alt="">
        </div>
        <div class="col-1" *ngIf="payment['status']==='danger'">
          <img style="width: 2rem !important;" [src]="'assets/img/close-red.svg'" alt="">
        </div>
      </div>

      <div class="row" *ngIf="dataFinal.length > 0">
        <div class="col-12">
          <button class="btn btn-success" (click)="saveCapture()">Confirmar</button>
        </div>
      </div>

    </div>
  </div>
</div>
