<div class="container container-next  no-padding-sides no-padding-bottom">
    <div class="row header">
      <div class="col-2">
        <div class="icon-card icon-card-yellow">
          <img [src]="'assets/icons_name/car.svg'">
        </div>
      </div>
      <div class="col-8">
        <span class="title-card">{{'vehicle.speed'|translate}}</span>
      </div>
      <div class="col-2">
        <div class="icon-card icon-card-big">
          <div class="icon-card icon-card-dot">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-9 line-height right" style="padding-top: 8px;">
        <span class="subtitle-card-medium2">
          {{'shared.vehicles'|translate}} {{'with'|translate}} {{'behaviour.excess'|translate}} {{'of'|translate}} {{'vehicle.speed'|translate}}
        </span>
      </div>
      <div class="col-3 center">
          <span class="very-big-text-card-blue">{{countLimitVehicles}}</span>
      </div>
    </div>
  
    <div class="row no-padding-sides inspection-container">
      <div class="col-12 no-padding-sides">
        <div class="row">
          <div class="col-4 center line-height">
            <span class="subtitle-card-white">{{'shared.vehicles'|translate}} {{'with'|translate}} {{'vehicle.speed'|translate}} {{'behaviour.higher'|translate}} {{'to'|translate}}</span>
          </div>
          <div class="col-3 center">
              <span class="big-text-card-white">100Km</span>
          </div>
          <div class="col-3 center line-height" >
              <span class="subtitle-card-white">{{'behaviour.number-times'|translate}}</span>
          </div>
          <div class="col-2 center" >
              <span class="big-text-card-white">{{countVehicles}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
