.parent-card {
  position: relative;
}

.card-activity {
  background: #5D697E;
  box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  min-width: 18vh;
  position: absolute;
  z-index: 1;
}

.parent-card .card-activity {
  top: -4vh;
  right: 110%;
}

.see{
  background: #5D697E;
  border-radius: 11px;
  color: #ffffff;

}

.mat-dialog-container{
  padding: 0px !important;
}
