<div class="d-inline-flex ml-auto mr-2 align-items-center">
  <div class="d-flex align-content-end flex-wrap" *ngIf="showBasicBtns && _PermissionService.canAccess('contract_profile')">
    <button class="cIcon px-3 py-1 see" (click)="showMaintenanceModal()">
      {{'home.see' | translate}}
    </button>
  </div>
  <div class="d-flex align-content-end flex-wrap" *ngIf="showMaintenanceBtns">
    <button class="cIcon mr-2" (click)="showNotificationModal()">
      <img style="height: 3.5vh" [src]="'assets/img/notificacion.svg'" alt="{{id}}">
    </button>
    <button class="cIcon mr-2" (click)="showCallModal()">
      <img style="height: 3.5vh" [src]="'assets/img/Llamar.svg'" alt="{{id}}">
    </button>
    <button class="cIcon mr-2" (click)="showResolveModal()">
      <img style="height: 3.5vh" [src]="'assets/img/close-red.svg'" alt="{{id}}">
    </button>
  </div>
</div>

