<div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
  <div fxFlex="100%" fxFlexAlign="center" align="center">
    <div align="left">
      <p class="component-title">
        Conducción
      </p>
    </div>
    <div class="cards row">
      <div class="card-container col-sm-12 col-md-6 col-xl-6">
        <app-info-card
                      [title]="'Score conductores'"
                      [chartColor]="'#16355e'"
                      [chartInnerColor]="'#1875f0'"
                      [chartText]="score"
                      [chartPercent]="score"
                      [background]="true"
                      [backgroundColor]="'#e2ecfc'"
                      [outerStrokeWidth]="17"
                      [innerStrokeWidth]="6"
                      [innerStroke]="true"
                      [space]="7"
                      [link]="'/driver/score'">
          <app-table [pageSize]="5"
                     [hidePagination]="true"
                     [url]="'get-vehicles-in-risk-table'"
                     [urlExcel]="'get-vehicles-in-risk-table-all'"
                     [hideButtons]="false"
                     [columns]="scoreAttributeLabels"
                     [microService]="scoreMicroService"></app-table>
        </app-info-card>
      </div>

      <div class="card-container col-sm-12 col-md-6 col-xl-6">
        <app-info-card [title]="'Kilometros'"
                       [chartColor]="'#1875f0'"
                       [chartText]="kilometer"
                       [chartPercent]="kilometer"
                       [link]="'/driver/kilometers'"
                       [units]="'km/día'"
                       [gradient]="true"
                       [gradientColor]="'#18f0e3'"
                       [outerStrokeWidth]="20"
                       [showSubtitle]="true">
          <app-table [pageSize]="5"
                     [hidePagination]="true"
                     [url]="'vehicles-distance'"
                     [urlExcel]="'vehicles-distance-table'"
                     [columns]="travelAttributeLabels"
                     [hideButtons]="false"
                     [microService]="vehicleMicroService"></app-table>
        </app-info-card>
      </div>
    </div>

    <div class="cards card-map">
      <div class="card-container margin-map">
        <app-maps></app-maps>
      </div>

      <div class="card-container">
        <app-info-card [title]="'Velocidad'"
                       [chartColor]="'#2522BB'"
                       [chartText]="speed"
                       [chartPercent]="speed"
                       [gradient]="true"
                       [gradientColor]="'#A415B0'"
                       [outerStrokeWidth]="20"
                       [clockwise]="false"
                       [link]="'/driver/speed'"
                       [units]="'%'">
          <app-table [pageSize]="5"
                     [hidePagination]="true"
                     [url]="'vehicles-speed-limit'"
                     [urlExcel]="'vehicles-speed-limit-table'"
                     [columns]="speedAttributeLabels"
                     [hideButtons]="false"
                     [microService]="vehicleMicroService"></app-table>
        </app-info-card>
      </div>
    </div>
  </div>
</div>
