.driver-search {
  width: 60%;
}

.cards {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.card-container {
  width: 48.5%;
  position: relative;
}

.card-map {
  padding-top: 21px;
  height: 475px;
  margin-bottom: 50px;
  width: 97%;
}

.margin-map {
  margin-top: 40px;
}
