li {
  cursor: pointer;
  height: 65px;
}

.sub-menu{
  background-color: #e2ecfc !important;
}

.icon-menu{
  width: 30px;
}

.icon-menu-other{
  width: 30px;
}

.icon-sub-menu{
  float: right;
  margin-top: -3px;
  width: 20px;
}

.menu-container {
  width: 70px;
  position: fixed;
  background: transparent;
  top: 70px;
  overflow: auto;
  height: 100vh;
}

.menu-container-extended {
  width: 150px;
  position: fixed;
  background: transparent;
  top: 70px;
  overflow: auto;
  height: 100vh;
}

.menu-container .show-menu {
  left: 0;
}

.menu-container.hide-menu {
  left: -250px;
}

.menu-open {
  margin-left: 250px !important;
}

.pl-menu ul {
  list-style: none;
  padding: 0;
}

.sub-menu > li > a {
  padding-left: 32px !important;
}

.pl-menu ul > li > a {
  display: block;
  padding: 15px 46px;
  text-decoration: none;
  border-bottom: 1px solid #E2ECFC;
}

.pl-menu ul > li > div:hover {
  background: #E2ECFC !important;
  color: #fff;
}

.pl-menu ul > li > a:hover {
  background: #E2ECFC !important;
  color: #fff;
}

.pl-menu ul > li > a:hover > i {
  fill: #fff !important;
}

.pl-menu ul > li > a > i {
  font-size: 24px;
  float: right;
  margin-top: 1px;
}

.pl-menu-overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  transition: all 1s linear;
}

.show-overlay {
  display: block;
}

.hide-overlay {
  display: none;
}

.angle {
  margin: 3vh;
  width: 24px;
  height: 24px;
  padding: 1vh;
  right: 0.5vw;
  position: absolute;
}

.angle-down {
  background: url(~src/assets/icons/arrow-down.svg) no-repeat top;
  background-size: contain;
}

.angle-up {
  background: url(~src/assets/icons/arrow-up.svg) no-repeat top;
  background-size: contain;
}

.logout-img{
  width: 23px !important;
  margin-right: 7px;
}

.logout-li{
  position: absolute;
  bottom: 17vh;
  width: 100%;
}

.logout-li > a {
  border: 0 !important;
}

.link-menu:hover .icon-menu {
  display: none;
}

.link-menu:hover .icon-menu-other {
  display: inline !important;
}

.link-menu {
  position: absolute;
  padding: 1.5vw 1vw 1vw 1vw;
  width: 100%;
}

.menu-item {
  height: 65px;
  position: relative;
  width: 150px;
}

.text-menu {
  color: #000000;
  font-size: 0.6em;
  margin-left: 5px;
}

.hide-li {
  display: none;
}
