<div [ngClass]="!showText ? 'menu-container pl-menu' : 'menu-container-extended pl-menu'">
  <ul>
    <li *ngFor="let item of menuList" [ngClass]="!item['permission'] || _PermissionService.canAccess(item['permission']) ? 'show-li' : 'hide-li'">
      <div class="menu-item" *ngIf="!item['permission'] || _PermissionService.canAccess(item['permission'])">
        <a (click)="closeDrawer(item.link)" class="link-menu">
        <span class="span-menu">
          <img [src]="item.imageLink" class="icon-menu">
          <img [src]="item.imageLinkOther" class="icon-menu-other" style="display: none;">
          
        </span>
        <span class="text-menu" *ngIf="showText">{{item.title}}</span>
        </a>
      </div>
    </li>

    <li [routerLink]="'/logout'" class="logout-li" *ngIf="showText">
      <a (click)="logout()">
        <img [src]="'assets/icons_name/logout.svg'" class="icon-menu logout-img">
      </a>
    </li>
  </ul>
</div>
