.white{
  background-color: white;
  border-radius: 15px;
}

.score-container{
  height: 295px;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(24, 117, 240, 0.05);
}

.score-div {
  height: 295px;
  cursor: pointer;
  padding-top: 50px;
}

.score-div-border {
  border-left: 1px solid #D3DCEC;
  padding-left: 0 !important;
}

.center-chart {
  top: 15%;
}

.score-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
  font-size: 1.3em;
  margin-top: 3vh;
}
