<mat-card class="card-full-height">
  <mat-card-content>
    <div class="row">
      <div class="col-12 progress-height" align="center">
        <circle-progress
          [responsive]="true"
          [radius]="80"
          [space]="-10"
          [outerStrokeWidth]="10"
          [titleFontSize]="30"
          [unitsFontSize]="30"
          [subtitleFontSize]="30"
          [outerStrokeColor]="'#11CB87'"
          [subtitleColor]="'#000'"
          [showInnerStroke]="false"
          [showTitle]="true"
          [showSubtitle]="false"
          [animateTitle]="false"
          [title]="90"
          [subtitle]="'km/día'"
          [animationDuration]="1000"
          [showUnits]="false"
          [showBackground]="false"
          [clockwise]="true"
          [startFromZero]="false"
          [percent]="100"
          [maxPercent]="100"
        ></circle-progress>
      </div>
      <div [routerLink]="'/driver/kilometers'" class="col-12 score-text" align="center">
        {{titleCard}}
      </div>
    </div>
    <ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>
  </mat-card-content>
</mat-card>
