table {
  width: 100%;
}

.row {
  margin: 0 !important;
}

.dashboard-padding {
  padding-top: 10px;
}


.dashboard-div-whit {
  height: 419px;
}

.dashboard-div-information {
  position: relative;
  height: 445px;
}

.dashboard-maintenance-height {
  height: 540px;
}

.filterInput {
  margin-left: 15px;
  margin-top: 20px;
}

.filterInputGlobal {
  width: 100%;
}

.input-search {
  width: 90%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 5px;
  font-size: 1em;
}

.riskCard {
  margin: 5px;
  height: 150px;
  background-color: #323945;
}

.riskTitle {
  font-size: 1em;
  color: white;
}

.riskDivider {
  border-top-width: 2px;
  border-top-color: white;
}

.colorForm {
  width: 50px;
  height: 15px;
  background-color: #f45050;
  float: right;
  border-radius: 15px;
}

.center {
  text-align: center;
}

.numberRisk {
  color: white;
  font-weight: bolder;
  font-size: 3em;
}

.textRisk {
  color: white;
  font-size: 0.9em;
  text-align: justify;
}

.container {
  margin-top: 15px;
}

.no-padding-sides{
  padding-left: 0;
  padding-right: 0;
}

.padding-sides{
  padding-left: 10px;
  padding-right: 10px;
}