<div class="container" fxFill>
  <div class="row">
    <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('tickets_widget') ? '' : 'blur-div'">
      <app-ticket></app-ticket>
    </div>
    <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('document_widgets') ? '' : 'blur-div'">
      <app-document></app-document>
    </div>
    <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('payment_widgets') ? '' : 'blur-div'">
      <app-debt></app-debt>
    </div>
    <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('inspection_widgets') ? '' : 'blur-div'">
      <app-inspection-all></app-inspection-all>
    </div>
  </div>
  <div class="row" *ngIf="_PermissionService.canAccess('main_chart')">
    <div class="col-12 no-padding-sides">
      <app-chart-report></app-chart-report>
    </div>
  </div>
  <div class="row"  *ngIf="_PermissionService.canAccess('dashboard_table')">
    <div class="left col-12">
      <app-driver-ranking></app-driver-ranking>
    </div>
  </div>
</div>

