<div class="d-inline-flex align-items-center px-3">
  <div class="d-flex align-content-end flex-wrap">
    <button class="cIcon" (mouseover)="showModal(id)">
      <img [src]="'assets/icons_name/info.svg'" alt="{{id}}">
    </button>
  </div>
</div>
<div class="d-none" id="{{id}}" data-show="false">
  <div class="parent-card-information">
    <div class="card-information p-3">
      <h2 class="title">{{'home.recent-activity'|translate}}</h2>
      <hr class="mx-1">
      <ul *ngIf="data.length > 0" class="list-activity">
        <li *ngFor="let item of data" class="mb-2">
          <div class='row'>
            <div class=col-2>
                <div class="call-icon">
                    <img [src]="'assets/icons_name/alert.svg'">
                </div>
                
            </div>
            <div class="col-10 bolder" >
                <p>{{item['type']}}</p>
            </div>
            <div class="col-12">
                <small>{{item['observation']}}</small>
            </div>
            <div class="col-6 left bolder">
                <small>{{item['activity']}}</small>
            </div>
            <div class="col-6 right bolder">
                <small>{{item['date'] | date:'yyyy-MM-d':'UTC' }}</small>
            </div>
          </div>
        </li>
      </ul>
      <ng-container *ngIf="data.length <= 0">
        <p>{{"share.no-info" | translate}}</p>
      </ng-container>
    </div>
  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>

