.parent-card-information{
  position: relative;
}
.card-information {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-height: 500px;
  width: 300px;
  z-index: 1;
  overflow: auto;
}

.parent-card-information .card-information {
  top: -4vh;
  left: 80%;
}

.title {
  font-weight: 700;
  font-size: 1.2em;
  color: #5D697E;
  width: 100%;
}

.list-activity {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.list-activity li {
  border: 1px solid #D3DCEC;
  box-sizing: border-box;
  border-radius: 5px;
  padding: .8rem;
  text-align: left;
  height: 110px;
}

p {
  margin-bottom: 0.5rem !important;
}

.call-icon img {
  width: 25px;
    position: absolute;
    left: 16px;
    top: 0px;
}

.bolder small, .bolder{
  font-weight: bolder !important;
}
