  <div class="row">
    <div class="col-12" style="max-height: 452px; padding-bottom: 50px; max-width: 95% !important;">
      <div align="right">
        <span class="title-dashboard" *ngIf="titleShown">Chequeo periodico</span>
        <mat-form-field>
          <mat-select [value]="'fluids'" (selectionChange)="changeParent($event.value)" placeholder="">
            <mat-option *ngFor="let parentOption of parentOptions" [value]="parentOption.value">
              {{parentOption.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [value]="childOption" (selectionChange)="changeChild($event.value)" placeholder="">
            <mat-option *ngFor="let childOption of childOptionsUsed" [value]="childOption.value">
              {{childOption.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
        <ngx-charts-bar-vertical-2d
          *ngIf="showChart"
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi_vertical"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [schemeType]="'ordinal'"
        >
        </ngx-charts-bar-vertical-2d>
    </div>
    <div class="col-12" style="padding-bottom: 50px;"></div>
  </div>

