.inspection-container {
    margin-top: 14px !important;
    width: 100%;
    height: 100px;
    background: #16355E;
    border-radius: 5px;
    padding-top: 10px !important;
}

.footer {
    background: #F2C94C;
    border-radius: 5px;
    height: 30px;
    line-height: 13px;
    margin-top: 5px !important;
}

.footer div {

    padding-top: 5px !important;
}