<div class="container container-next  no-padding-sides no-padding-bottom">
    <div class="row header">
      <div class="col-2">
        <div class="icon-card icon-card-blue">
          <img [src]="'assets/icons_name/route.svg'">
        </div>
      </div>
      <div class="col-8">
        <span class="title-card">{{'kilometers'|translate}}</span>
      </div>
      <div class="col-2">
        <div class="icon-card icon-card-big">
          <div class="icon-card icon-card-dot">
              <img (click)="downloadReport()" class="download-widget" [src]="'assets/icons_name/arrow_down_white.svg'">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row no-padding-sides inspection-container">
        <div class="col-12 no-padding-sides">
          <div class="row">
            <div class="col-7 center  line-height-medium">
                <span class="subtitle-card-white-medium2">{{'shared.vehicles'|translate}} {{'with'|translate}} {{'behaviour.excess'|translate}} {{'behaviour.of'|translate}} {{'payment.kilometer'|translate}}</span>
            </div>
            <div class="col-5 center" >
                <span class="very-big-text-card-white">{{countMinusVehicles}}</span>
            </div>
          </div>
          <div class="row footer">
            <div class="col-12 center">
              <span class="subtitle-card-blue-medium">{{'behaviour.higher'|translate}} {{'to'|translate}} 300 km - Día</span>
            </div>
        </div>
      </div>
  
  
  </div>
