<mat-card align="left" class="info-card">
  <mat-card-header class="card-header-line">
    <mat-card-title class="info-card-title">
      <p>
        {{title}}
      </p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="info-card-content">
    <div class="info-card-div center-card-chart" align="center">
      <circle-progress
        [radius]="80"
        [space]="space"
        [outerStrokeWidth]="outerStrokeWidth"
        [innerStrokeWidth]="innerStrokeWidth"
        [titleFontSize]="35"
        [unitsFontSize]="27"
        [subtitleFontSize]="27"
        [subtitleColor]="'#000000'"
        [outerStrokeColor]="chartColor"
        [showInnerStroke]="innerStroke"
        [showTitle]="true"
        [showSubtitle]="showSubtitle"
        [animateTitle]="false"
        [units]="units"
        [subtitle]="units"
        [title]="chartPercent | number"
        [animationDuration]="1000"
        [outerStrokeGradient]="gradient"
        [outerStrokeGradientStopColor]="gradientColor"
        [innerStrokeColor]="chartInnerColor"
        [showUnits]="!showSubtitle"
        [showBackground]="background"
        [backgroundColor]="backgroundColor"
        [clockwise]="clockwise"
        [startFromZero]="false"
        [percent]="chartPercent"
        [maxPercent]="100"
      ></circle-progress>
    </div>
    <div class="info-card-div">
      <ng-content></ng-content>
      <div align="center" class="info-card-div-button">
        <button mat-button routerLink="{{link}}">
          Ver más
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
