.card-header-line {
  border-bottom: 1px solid #D3DCEC;
  height: 57px;
}

.cards-separation {
  padding-top: 21px;
}

.info-card {
  padding: 0;
  height: 100%;
  font-family: Montserrat !important;
}

.card-container button {
  margin-right: 19px;
  margin-bottom: 5px;
}

.info-card-title {
  color: #323945;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 17px;
  transform: scale(1, 1);
  margin-top: 14px;
}

.info-card-content {
  display: inline-flex;
  width: 100%;
  height: 86%;
}

.info-card-div {
  width: 50%;
  border-right: 1px solid #D3DCEC;
}

.center-card-chart {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card-div-data {
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 45px;
  text-align: center;
  font-family: Montserrat !important;
}

.info-card-div-context {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  font-family: Montserrat !important;
}

.info-card-div-button {
  padding: 5%;
}

.info-card-div-button button {
  background-color: #1875F0;
  color: white;
}
