a {
  cursor: pointer;
}

.forgot-password {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  text-decoration-line: underline;
  border-bottom: 1px solid #16355E;
  color: #16355E;
}
