<div class="container" *ngIf="!_PermissionService.canAccess('menu_massive')">
    <select #t (change)="routeTo(t.value)">
      <option>Seleccione...</option>
      <option *ngFor="let option of options"  [value]="option.link">{{option.label}}</option>
    </select>
</div>