.container {
    right: 19%;
    top: 20px;
    position: absolute;
    background: #1875F0;
    border-radius: 40px;
    width: 105px;
    height: 33px;
    text-align: center;
    padding: 0;
    font-size: 0.9em;
}

.container select {
    font-size: 0.5em;
    background: transparent;
    border: 0;
    color: white;
    font-weight: bolder;
    width: 80%;
}

.container option {
    background: #1875F0;
    color: white;
    font-weight: bolder;
}