p {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  font-family: Montserrat, serif;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.col-1 {
  flex: 0 0 1% !important;
}

.button-risk {
  margin-left: 1em;
  cursor: pointer;
  width: 64px;
  height: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #1875F0;
  top: 8px;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.button-risk p {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 0.9em;
  text-align: center;
  color: #1875F0;
}

.risk-card-container {
  height: 100%;
}

.risk-card-content {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
}

.risk-card {
  padding: 0;
  width: 100%;
  height: 15vh;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #D3DCEC;
}

.risk-col {
  height: 100%;
}

.risk-radius {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.green-status{
  background-color: #219653;
}

.yellow-status{
  background-color: #f2994a;
}

.red-status{
  background-color: #eb5757;
}

.center{
  text-align: center;
}

.risk-title {
  font-size: calc(0.1vh + 1vw);
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

.number-risk{
  font-size: 1.7em;
  font-weight: bolder;
}
