<mat-card class="risk-card-container">
  <mat-card-header align="left">
    <mat-card-title>
      <a routerLink="/risk/risk-dashboard" routerLinkActive="active" class="link-title">Riesgos</a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="risk-card-content row" align="center">
    <div class="col-3" *ngFor="let item of riskArray">
      <div class="row risk-card">
        <div ngClass="col-1 risk-col risk-radius {{item['class']}}"></div>
        <div class="row col-11">
          <div class="col-8 risk-col">
            <p class="risk-title">
              {{item['title'] | translate}}
            </p>
          </div>
          <div class="col-4 risk-col" align="center">
            <p class="number-risk">
              {{item['number']}}
            </p>
          </div>
          <div class="col-12 risk-col">
            <div class="button-risk" [routerLink]="item['link']">
              <p>Ver más</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>

