.white-small-div{
  height: 188px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(24, 117, 240, 0.05);
}

.text-div{
  height: 188px;
  border-left: 1px solid #D3DCEC;
  text-align: center;
  padding-top: 56px;
}

.desc-text{
  font-size: 2em;
}

.no-padding{
  padding: 0;
}

.bar-red{
  margin-top: 4%;
  background-color: #fa394c;
  height: 35px;
  border-radius: 0 10px 10px 0;
  width: 60%;
  margin-left: 15px;
}

.bar-text{
  margin-top: 5%;
  background-color: #00d994;
  height: 55px;
  border-radius: 0 10px 10px 0;
  width: 90%;
  font-size: 2.5em;
  color: white;
  margin-left: 15px;
}

.average-pay-text {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 40px;
  color: #F8F8F8;
  position: absolute;
  padding-left: 17px;
}

.bar-purple{
  margin-top: 5%;
  background-color: #ae00e1;
  height: 25px;
  border-radius: 0 10px 10px 0;
  width: 30%;
  margin-left: 15px;
}

.average-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
