<div class="white-small-div border-dashboard">
  <div class="row">
    <div class="col-6  no-padding">
      <div class="bar-red"></div>
      <div class="bar-text">
        <p class="average-pay-text">
          {{averageCollect | currency : '$' : 'symbol' : '1.0'}}
        </p>
      </div>
      <div class="bar-purple"></div>
    </div>
    <div class="col-6 text-div">
      Recaudo promedio por contrato
    </div>

  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>

