<span class="bar-alerts-title">Alertas y recordatorios</span>

<div *ngFor="let item of notifications" align="center" class="notification-container" id="{{item.key}}">
  <div class="notification">

    <div class="notification-header">
      <div class="row" style="padding-bottom:0; width: 100%;">
        <div class="col-4 notification-plate">
            {{item.plate}}
        </div>
        <div class="col-4 notification-title" style="white-space: nowrap;">
            {{ (item.title.length>15)? (item.title | slice:0:15)+'..':(item.title) }}
        </div>
        <div class="col-4 notification-image">
            <img [src]="'assets/icons_name/check.svg'">
        </div>
      </div>
    </div>

    <div class="notification-body">
      <div class="row" style="padding-bottom:0; width: 100%;">
        <div class="col-12 notification-text">
            {{ (item.text.length>70)? (item.text | slice:0:70)+'..':(item.text) }}
        </div>
      </div>
    </div>
    <div class="notification-footer">
      <div class="row" style="padding:0; margin:0; width: 100%;">
        <div class="col-6 notification-text" style="margin-top: 8px;">
            {{item.date | date:'d/M/yy'}}
        </div>
        <div class="col-6 notification-text">
            <div class="alert-status" style="cursor: pointer;" (click)="showDetail(item)">
              <p class="alert-status-text">
                Gestionar
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
