.notification-container {
  margin-bottom: 15px;
}

.notification {
  height: 120px;
  width: 222px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 20px rgba(24, 117, 240, 0.05);
  overflow: hidden;
}

.notification-header {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.notification-header .row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.notification-plate {
  border: 1px solid #5B9BF0;
  box-sizing: border-box;
  border-radius: 40px;
  width: 74px;
  height: 24px;
  color: #1875F0;
  font-weight: bold;
  font-size: 11px;
  padding: 0px;
  line-height: 22px;
}

.notification-title {
  color: black;
  line-height: 22px;
  font-size: 10px;
}

.notification-header .notification-image {
  width: 22px;
  height: 22px;
  padding: 0px;
  padding-left: 25px;
  padding-right: 0;
  position: relative;
  top: -10px;
}

.plate-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  text-align: center;
  color: #F8F8F8;
  margin-top: 5px;
}

.notification-text {
  margin: 0 16px 0 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 0.5em;
  color: #323945;
  height: 25px;
  text-align: justify;
  white-space: pre-line;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.notification-footer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.alert-date {
  margin-top: 5px;
  margin-left: 16px;
  font-size: 0.6em;
}

.alert-status {
  border: 1.5px solid #1875F0;
  box-sizing: border-box;
  border-radius: 40px;
  height: 22px;
}

.alert-status-text {
  text-align: center;
  color: #1875F0;
  margin-top: 2px;
  font-weight: bolder;
  font-size: 1.2em;
}


.bar-alerts-title {
  color: #5D697E;
  font-size: 0.8em;
  margin-left: 17px;

}
