<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-white">
      <div class="header-modal-details">
        <div class="d-inline-flex p-2">
          <div class="d-flex align-content-center flex-wrap m-1">
            <h2 class="header-modal-details-min-title">Contactar</h2>
          </div>
        </div>
        <div class="d-inline-flex ml-auto mr-2 align-items-center">
          <div class="d-flex align-content-end flex-wrap">
            <button [disabled]="submitted" mat-dialog-close="true" class="header-modal-close">
              <img style="height: 4.5vh" [src]="'https://k3-public.s3.amazonaws.com/av2_operations/icons/close.svg'" alt="Close modal">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 bg-white mb-2">
      <form class="form" [formGroup]="eventForm">
        <table class="table table-sm d-flex">
          <tbody>
          <tr>
            <td colspan="2">Información de contacto:</td>
          </tr>
          <tr>
            <td>Celular:</td>
            <td class="text-right font-weight-bold">3153204963}</td>
          </tr>
          <tr>
            <td>Comentario:</td>
            <td class="text-right font-weight-bold">
              <textarea formControlName="notificationText" name="notificationText" id="notificationText"
                        class="form-control" formControlName="notificationText"></textarea>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row" align="center">
          <div class="col-6">
            <button (click)="saveNotificationCall()" [disabled]="submitted" class="btn btn-success" style="background: #5D697E;">Suspender
            </button>
          </div>
          <div class="col-6">
            <button (click)="alert()" [disabled]="submitted" class="btn btn-success">Resolver
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
