<div class="example-container">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <img *ngIf="isLoadingResults" [src]="'assets/img/loading.gif'" alt="">
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Error
    </div>
  </div>
  <div class="example-table-container">
    <div class="d-flex align-content-end flex-wrap">
      <button class="cIcon" (click)="downloadExcel()">
        <!--<img [src]="'assets/img/arrow_left.svg'">-->
        <mat-icon>archive</mat-icon>
      </button>
      <div class="icon-download icon-gps">
        <img (click)="downloadGpsdata()" class="download-widget" [src]="'assets/icons_name/arrow_down_white.svg'">
    </div>
    </div>
    <table mat-table matSort [dataSource]="dataSource">

      <ng-container *ngFor="let column of columns;" matColumnDef="{{ column.name }}">

        <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ column.name }}">
          {{ column['displayName'] | translate}}
        </th>

        <td mat-cell *matCellDef="let row" [ngClass]="classCRow">
          <ng-container *ngIf="column.name === 'information'">
            <app-icon-information [id]="row['owner_contract_id']" [contractId]="row['owner_contract_id']"></app-icon-information>
          </ng-container>
          <ng-container *ngIf="column.name === 'actions'">
            <app-tablet-actions [componentName]="componentName" [id]="row['owner_contract_id']"
                                [data]="row"
                                [showBasicBtns]="showBasicBtns"
                                [showMaintenanceBtns]="showMaintenanceBtns"></app-tablet-actions>
          </ng-container>
          <ng-container *ngIf="column.name !== 'information' && column.name !== 'actions'">
            <span [matTooltip]="row[column.name]" [innerHTML]="row[column.name] | safe:row:column"></span>
          </ng-container>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div [hidden]="hidePagination">
      <mat-paginator [pageSize]="pageSize"
                     [length]="resultsLength"
                     [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>
  </div>
</div>

