table {
  width: 100%;
}

/*table tr:hover td {
  background: #1875F0;
  color: #fff;
  border-color: #1875F0;
}*/

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 690px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

td.no_info{
  background-color: #ff5c50;
  text-align: center;
  padding-right: 0 !important;
  color: white;

}

td.on_day{
  background-color: #00da89;
  text-align: center;
  padding-right: 0 !important;
  color: white;
}

td.no_go{
  background-color: #f8f8f8;
  text-align: center;
  padding-right: 0 !important;
}


.buttonHeader {
  border-radius: 5px 5px 0 0;
  padding-bottom: 0.4em;
}

.btn-small {
  color: #ffffff;
  border-radius: 5px 0px 0px 0px;
  height: 7.5vh;
  width: 100px;
}

.btn-medium {
  color: #ffffff;
  border-radius: 5px 0px 0px 0px;
  height: 7.5vh;
  width: 140px;
}

.table-container {
  height: 80%;
  overflow: auto;
}

.mat-table {
  background: transparent;
}

.mat-header-cell {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: normal;
  vertical-align: middle;
  color: #5D697E !important;
  background-color: white;
  text-align: center!important;
}

.mat-cell, .mat-footer-cell {
  font-style: normal;
  font-size: 0.7em;
  line-height: normal;
  vertical-align: middle;
  color: #5D697E;
  text-align: center!important;
}

.text-primary-chover{
  background: #ffffff;
}

.icon-download {
  border: 1px solid #E2ECFC;
  width: 30px;
  border-radius: 50px;
  background-color: #E2ECFC;
  cursor: pointer;
}

.download-widget {
  padding-left: 5px;
  width: 22px;
  padding-top: 2px;
}

.icon-gps {
  position: absolute;
  right: 4%;
  top: 1px;
}
