<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingresar Puntaje de Licencia </h5>
      <div class="row">
        <div class="col-lg-12">
          <input type="file" (change)="onFileChange($event)" multiple="false" />
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Puntajes a Modificar</h5>
      <div class="row">
        <div class="col-6">
          Dni
        </div>
        <div class="col-6">
          Puntaje
        </div>
      </div>

      <div class="row" *ngFor="let payment of dataFinal">
        <div class="col-6">
          {{payment['dni']}}
        </div>
        <div class="col-6">
          {{payment['license_score']}}
        </div>
      </div>

      <div class="row" *ngIf="dataFinal.length > 0">
        <div class="col-12">
          <button class="btn btn-success" (click)="savePayments()">Confirmar</button>
        </div>
      </div>

    </div>
  </div>
</div>
