<div class="row driver-assist-average-container">
  <div class="col-6" align="center">
    <p class="driver-assist-average-text">
      Conductores que asistieron
    </p>
  </div>
  <div class="col-6">
    <p class="driver-assist-average-indicator">
      {{maintenances}}<span class="accent-color">/{{totalMaintenances}}</span>
    </p>
  </div>
</div>
