p {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  font-family: Montserrat, serif;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.driver-assist-average-container {
  width: 75%;
  padding: 0;
  height: 10vh;
  margin: 2vh auto;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #D3DCEC;
}

.driver-assist-average-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1em;
  color: #323945;
}

.driver-assist-average-indicator {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 2em;
  text-align: center;
  color: #323945;
}

.accent-color {
  color: #D3DCEC;
}
