<div class="container">
  <div class="row" id="collect">
    <div class="col-12 cell-collect">
      <app-operation-dashboard-behaviour [titleText]="'Recaudo'" [titleShown]="true"></app-operation-dashboard-behaviour>
    </div>
  </div>
  <div class="row" id="collect2">
    <div class="col-12">
      <app-table [columns]="attributeLabelsInstallments"
                 [url]="'get-installments'"
                 [urlExcel]="'get-installments-all'"
                 [pageSize]="5"
                 [hideButtons]="false"
                 [hidePagination]="false"
                 [microService]="collectMicroService"
      ></app-table>
    </div>
  </div>
</div>



