.box-chart {
    width: 98%;
    height: 500px;

    background: #FFFFFF;
    border-radius: 10px;
}

.compare-div {
    background: #1875F0;
    width: 100%;
    border-radius: 30px;
    padding: 18px;
    color: white;
    font-weight: bolder;
    margin-top: 12px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    margin-left: -24px;
}

.dates, .date-title {
    margin-top: 24px;
    font-size: 10px;
    font-weight: bolder;
}


.body-title {
    color: #1875F0;
    font-size: 24px;
    font-weight: bolder;
}

.body-text {
    font-size: 12px;
}

.arrow-btn {
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 20px;
    margin-left: 9px;
}

.arrow-green {
    background: #11CB87;
}

.arrow-red {
    background: #EB5757;
}

.arrow-same {
    background: #16355E;
}

.arrow-btn img {
    width: 10px;
    padding-top: 5px;
    text-align: center;
    margin-left: 1px;
}

.download-btn {
    background: #1875F0;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 20px;
    float: right;
    margin-left: 9px;
    cursor: pointer;
}

.download-btn img {
    position: absolute;
    right: 22px;
    top: 7px;
}

.legend {
    width: 212px;
    height: 169px;
    background: #374FFF;
    border-radius: 5px;
    margin-top: 37px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.title-legend {
    font-size: 12px;
    color: white;
    margin-bottom: 2px;
}

.legend .title {
    font-size: 10px;
    color: white;
}

.legend .value {
    font-size: 10px;
    font-weight: bolder;
    color: white;
}

.legend .row {
    padding-bottom: 0 !important;
}

.clickContract {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
