
<div class="container box-chart">
  <div class="row ">
    <div class="col-4 selector-chart-report">
      <mat-form-field>
        <mat-label>Opciones</mat-label>
        <mat-select [formControl]="chartControl" [(ngModel)]="selected" (selectionChange)="changeSelector($event)">
          <mat-optgroup *ngFor="let group of chartGroups" [label]="group.name"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let chart of group.charts" [value]="chart.value">
              {{chart.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-6" *ngIf="!compare">
    </div>

    <div class="col-2 right" *ngIf="!compare">
      <div class="compare-div" (click)="toggleCompare()">
        Comparar: <img [src]="'assets/icons_name/comparative.svg'" alt="">
      </div>
    </div>

    <div class="col-3 dates" *ngIf="compare">
      <span class="date-title">
        Periodo 1
      </span>
      <mat-form-field class="topBarInput margin-sides" style="max-width: 88px;">
        <input matInput (click)="picker1.open()" [matDatepicker]="picker1" [formControl]="startDatePeriod1"
               class="text-filter">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      -
      <mat-form-field class="topBarInput margin-sides" style="max-width: 88px;">
        <input matInput (click)="picker2.open()" [matDatepicker]="picker2" [formControl]="endDatePeriod1"
               class="text-filter">
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-3 dates" *ngIf="compare">
      <span class="date-title">
        Periodo 2
      </span>
      <mat-form-field class="topBarInput margin-sides" style="max-width: 88px;">
        <input matInput (click)="picker3.open()" [matDatepicker]="picker3" [formControl]="startDatePeriod2"
               class="text-filter">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      -
      <mat-form-field class="topBarInput margin-sides" style="max-width: 88px;">
        <input matInput (click)="picker4.open()" [matDatepicker]="picker4" [formControl]="endDatePeriod2"
               class="text-filter">
        <mat-datepicker-toggle matSuffix [for]="picker4">
          <mat-icon matDatepickerToggleIcon></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-2 right" *ngIf="compare">
      <div class="compare-div" (click)="changeChartData()">
        Filtrar: <img [src]="'assets/icons_name/comparative.svg'" alt="">
      </div>
    </div>

  </div>

  <div class="row body-chart" *ngIf="table">

    <div class="container">
      <div class="row">
        <div class="col-4">
          <span class="title" [innerHTML]="chartTitle" >
          <br>
          </span> <span class="subtitle" [innerHTML]="chartDescription"></span>
        </div>
        <div class="col-8">
            <table mat-table matSort [dataSource]="dataSource">
    
                <div *ngFor="let column of displayedColumns; let i = index" matColumnDef="{{ column }}">
    
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ column }}">
                    {{column}}
                  </th>
    
                  <td mat-cell *matCellDef="let row" ngClass="classCRow">
                    <span [ngClass]="[column === 'Categoria' ? ' clickContract' : '']" (click)="selectTable(row[column], column)">{{row[column] | dateFormat:column }}</span>
                  </td>
    
                </div >
                
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
    

  </div>

  <div class="row body-chart" *ngIf="!compare && !table">

    <div class="col-6" style="padding-left: 70px;">
      <span class="body-title" [innerHTML]="chartTitle">
      </span>
      <br>
      <br>
      <span class="body-text" [innerHTML]="chartDescription">
      </span>
    </div>
    <div class="col-6" style="width: 100%;height: 100%;">
      <google-chart (chartSelect)="select($event)" [data]="chart"></google-chart>
    </div>

  </div>

  <div class="row body-chart" *ngIf="compare  && !table">
    <div class="col-4" style="width: 100%;height: 100%;" *ngIf="chartType !== 'BarChart'">
      <google-chart [data]="chart"></google-chart>
    </div>
    <div class="col-4" style="width: 100%;height: 100%;" *ngIf="chartType !== 'BarChart'">
      <google-chart [data]="chartCompare"></google-chart>
    </div>
    <div class="col-8" style="width: 100%;height: 100%;" *ngIf="chartType === 'BarChart'">
      <google-chart [data]="chart"></google-chart>
    </div>
    <div class="col-4" style="width: 100%;height: 100%;">
      <div class="container legend">

        <div class="row title-legend">
          <div class="col-8">
            {{chartTitle}}
          </div>
          <div class="col-4 center">
            <div class="arrow-btn arrow-green" *ngIf="valueCurrent > valuePrevious">
              <img [src]="'assets/icons_name/arrow_up_white.svg'" alt="">
            </div>
            <div class="arrow-btn arrow-red" *ngIf="valuePrevious > valueCurrent">
              <img [src]="'assets/icons_name/arrow_down_white2.svg'" alt="">
            </div>
            <div class="arrow-btn arrow-same" *ngIf="valueCurrent === valuePrevious">
              <img [src]="'assets/icons_name/equal.svg'" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-5 title">
            Periodo 1:
          </div>
          <div class="col-7 center value" *ngIf="compareMoney">
            {{valueCurrent | suffPipe}}
          </div>
          <div class="col-7 center value" *ngIf="!compareMoney">
            {{valueCurrent}}%
          </div>
        </div>

        <div class="row">
          <div class="col-5 title">
            Periodo 2:
          </div>
          <div class="col-7 center value" *ngIf="compareMoney">
            {{valuePrevious | suffPipe}}
          </div>
          <div class="col-7 center value" *ngIf="!compareMoney">
            {{valuePrevious}}%
          </div>
        </div>

        <div class="row">
          <div class="col-5 title">
            Diferencia:
          </div>
          <div class="col-7 center value">
            {{((valueCurrent - valuePrevious) / this.valuePrevious) * 100 | number}} %
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row" *ngIf="compare">
    <div class="col-8 right">
      Restaurar:
      <div class="download-btn" (click)="toggleCompare()">
        <img [src]="'assets/icons_name/comparative.svg'" alt="">
      </div>
    </div>
    <div class="col-4 right">
      Descargar:
      <div class="download-btn" (click)="openAsPNG()">
        <img [src]="'assets/icons_name/download.svg'" alt="">
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!compare">
    <div class="col-8 right">
      Descargar Excel:
      <div class="download-btn" (click)="downloadData()">
        <img [src]="'assets/icons_name/download.svg'" alt="">
      </div>
    </div>
    <div class="col-4 right">
      Descargar Imagen:
      <div class="download-btn" (click)="openAsPNG()">
        <img [src]="'assets/icons_name/download.svg'" alt="">
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'"
             [fullScreen]="false"></ngx-spinner>
