<div class="d-inline-flex ml-auto mr-2 align-items-center position-absolute">
  <div class="d-flex align-content-end flex-wrap">
    <button mat-dialog-close="true" class="header-modal-close">
      <img style="height: 4.5vh" [src]="'https://k3-public.s3.amazonaws.com/av2_operations/icons/close.svg'" alt="Close modal">
    </button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 mx-auto pt-4">
      <img [src]="'assets/img/Bien.svg'" alt="">
    </div>
    <div class="col-12 mx-auto salert pt-3">
      <p class="my-auto text-center">{{data.text}}</p>
    </div>
  </div>
</div>
