<app-nav-component-generator [navLinks]="navLinks"></app-nav-component-generator>
<div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
  <div fxFlex="100%" fxFlexAlign="center" align="center">
    <div align="left">
      <p class="component-title">Score   <span class="note">  *El score corresponde al último día de la fecha seleccionada</span></p>
    </div>
    <div style="max-width: 904px;height: 511px; margin-top: 30px">
      <app-table [pageSize]="5"
                 [hidePagination]="false"
                 [url]="'get-vehicles-in-risk-table'"
                 [urlExcel]="'get-vehicles-in-risk-table-all'"
                 [hideButtons]="false"
                 [columns]="attributeLabels"
                 [microService]="scoreMicroService"></app-table>
    </div>
  </div>
</div>
