.container {
    background: #FDFDFD;
    box-shadow: 4px 4px 15px rgba(47, 128, 237, 0.1);
    border-radius: 5px;
    height: 125px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;
}

.container .row {
    padding: 0;
    margin: 0;
}


.no-padding-bottom{
    padding-bottom: 0 !important;
}
.no-padding-sides{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-litle {
    padding-top: 2px !important;
    padding-left: 2px !important;
    padding-right: 0 !important;

}
.icon-card {
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50px;
}

.icon-card-blue {
    background: #E2ECFC;
}

.icon-card-green {
    background: #86F3B4;
}

.icon-card-yellow {
    background: #F1F386;
}

.icon-card-yellow-bold {
    background: #F2C94C;
}

.icon-card-grey {
    background: rgba(22, 53, 94, 0.2);
}

.icon-card-dot {
    background: #F5F9FF;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.icon-card-big {
    background: #E2ECFC;
    position: absolute;
    width: 54px;
    height: 54px;    
    top: -20px;
    left: 17%;
}

.icon-card img {
    width: 14px;
    padding-top: 2px;
}

.title-card {
    color: #5D697E;
    font-weight: 600;
    font-size: 0.9em;
}

.subtitle-card-white {
    color: white;
    font-weight: 600;
    font-size: 0.4em;
}

.subtitle-card-white-medium {
    color: white;
    font-weight: 600;
    font-size: 0.8em;
}

.subtitle-card-white-medium2 {
    color: white;
    font-weight: 600;
    font-size: 0.6em;
}

.subtitle-card-blue-medium {
    color: #16355E;
    font-weight: 600;
    font-size: 0.8em;
}

.subtitle-card-blue-medium2 {
    color: #16355E;
    font-weight: 600;
    font-size: 0.6em;
}

.subtitle-card-blue {
    color: #16355E;
    font-weight: 600;
    font-size: 0.5em;
}

.subtitle-card {
    color: #5D697E;
    font-weight: 600;
    font-size: 0.4em;
}

.subtitle-card-medium2 {
    color: #5D697E;
    font-weight: 600;
    font-size: 0.6em;
}

.subtitle-card-medium {
    color: #5D697E;
    font-weight: 600;
    font-size: 0.8em;
}

.header {
    padding-bottom: 5px;
}

.big-text-card-white {
    color: white;
    font-weight: bolder;
    font-size: 1em;
}

.big-text-card {
    color: #16355E;
    font-weight: bolder;
    font-size: 1em !important;
}

.very-big-text-card-white {
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
}

.very-big-text-card {
    color: #16355E;
    font-weight: bolder;
    font-size: 1.3em;
}

.very-big-text-card-purple {
    color: #9B51E0;
    font-weight: bolder;
    font-size: 1.3em;
}

.very-big-text-card-blue {
    color: #1875F0;
    font-weight: bolder;
    font-size: 1.3em;
}

.sm-white-text-card {
    color: white;
    font-size: 0.5em;
    font-weight: bolder;
}

.sm2-white-text-card {
    color: white;
    font-size: 0.6em;
    font-weight: bolder;
}

.sm-blue-text-card {
    color: #5B9BF0;
    font-size: 0.5em;
    font-weight: bolder;
}

.line-height {
    line-height: 8px;
    text-align: justify;
}

.line-height-medium-center {
    line-height: 12px;
    text-align: center;
}

.line-height-medium {
    line-height: 12px;
    text-align: justify;
}

.medium-number-blue {
    color: #1875F0;
    font-size: 0.8em;
    font-weight: bolder;
}

.pill {
    width: 100%;
    height: 30px;
    background: #F9F9F9;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 17.5px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-top: 6px;
}

.ticket-container {
    margin-top: 10px !important;
    width: 100%;
    height: 100px;
    background: #16355E;
    border-radius: 5px;
    padding-top: 12px  !important;
}

.litle-title-card {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.3em;
}

.litle-title-card-medium {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.5em;
}

.download-widget {
    cursor: pointer;
}
