<div class="container no-padding-sides no-padding-bottom">
  <div class="row header">
    <div class="col-2">
      <div class="icon-card icon-card-blue">
        <img [src]="'assets/icons_name/bill.svg'">
      </div>
    </div>
    <div class="col-8">
      <span class="title-card">{{'home.tickets'|translate}}</span>
    </div>
    <div class="col-2">
      <div class="icon-card icon-card-big">
        <div class="icon-card icon-card-dot">
            <img (click)="downloadReport()" class="download-widget" [src]="'assets/icons_name/arrow_down_white.svg'">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 center">
        <span class="subtitle-card-medium">{{'amount'|translate}} {{'total'|translate}}: </span><span class="big-text-card">{{ ticketAmount | suffPipe:',':'.':'S/' }}</span>
    </div>
  </div>

  <div class="row ">
      <div class="text-left col-7 line-height no-justify ticket-container">
        <span class="sm2-white-text-card">{{ ticketAvg | suffPipe:',':'.':'S/' }} {{'shared.average-value'|translate}}</span>
      </div>
      <div class="col-5 center" style="padding-top: 18px;">
        <span class="subtitle-card-medium">{{'home.tickets'|translate}}: </span><span class="medium-number-blue">{{ticketCount}}</span>
      </div>
  </div>


</div>
