<div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
  <div fxFlex="100%" fxFlexAlign="center" align="center">
    <p align="left">Configuración de email</p>

    <hr class="hr-container">

    <div class="configuration-container">
      <mat-card class="configuration-card">
        <mat-card-header>
          <mat-card-title>
            <p align="left" class="sub-title">
              Configurar envío de alertas
            </p>
            <hr class="hr-card">
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p align="left" class="info-text">
            Selecciona las alertas que quieres que lleguen a tu correo electrónico.
          </p>

          <div align="left">
            <form class="options">
              <mat-checkbox class="check-box" color="primary">
                Enviar todas las alertas configuradas al correo.
              </mat-checkbox>
              <mat-checkbox class="check-box" color="primary">
                Enviar todas las alertas configuradas por SMS.
              </mat-checkbox>
            </form>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <p align="left" class="configuration-title">Configuración de alertas</p>
    <div class="container container-alerts">
      <div class="row alert-configuration">
        <div class="col-lg-12">
          <p align="left" class="sub-title sub-container">
            Alertas establecidas
          </p>
        </div>
      </div>

      <div class="row alert-configuration">
        <div class="col-lg-12 group-title">
          <p align="left" class="sub-title  sub-container white-text">
            Riesgos
          </p>
        </div>
        <div class="row sub-group-div">
          <div class="col-lg-2 group-title div-sub-group">
            <p align="left" class="sub-title  sub-container white-text text-sub-group">
              Comparendos
            </p>
          </div>
          <div class="col-lg-12">
            <p align="left" class="sub-title  sub-container text-sub-group">
              Establece un limite que te permita conocer el estado de tus activos
            </p>
          </div>

          <div class="row container-colors">
            <div class="col-lg-4">
              <div class="div-color div-red"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-yellow"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-green"></div>
            </div>
          </div>


          <div class="row container-colors">
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'tickets', 'red')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['tickets'].red.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'tickets', 'yellow')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['tickets'].yellow.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'tickets', 'green')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['tickets'].green.start}}">
            </div>
          </div>
        </div>
        <div class="row sub-group-div">
          <div class="col-lg-2 group-title div-sub-group">
            <p align="left" class="sub-title  sub-container white-text text-sub-group">
              Accidentes
            </p>
          </div>
          <div class="col-lg-12">
            <p align="left" class="sub-title  sub-container text-sub-group">
              Establece un limite que te permita conocer el estado de tus activos
            </p>
          </div>

          <div class="row container-colors">
            <div class="col-lg-4">
              <div class="div-color div-red"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-yellow"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-green"></div>
            </div>
          </div>

          <div class="row container-colors">
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'accidents', 'red')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['accidents'].red.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'accidents', 'yellow')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['accidents'].yellow.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'accidents', 'green')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['accidents'].green.start}}">
            </div>
          </div>
        </div>
        <div class="row sub-group-div">
          <div class="col-lg-2 group-title div-sub-group">
            <p align="left" class="sub-title  sub-container white-text text-sub-group">
              Enfermedades
            </p>
          </div>
          <div class="col-lg-12">
            <p align="left" class="sub-title  sub-container text-sub-group">
              Establece un limite que te permita conocer el estado de tus activos
            </p>
          </div>

          <div class="row container-colors">
            <div class="col-lg-4">
              <div class="div-color div-red"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-yellow"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-green"></div>
            </div>
          </div>

          <div class="row container-colors">
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'sickness', 'red')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['sickness'].red.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'sickness', 'yellow')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['sickness'].yellow.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'sickness', 'green')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['sickness'].green.start}}">
            </div>
          </div>
        </div>
        <div class="row sub-group-div">
          <div class="col-lg-2 group-title div-sub-group">
            <p align="left" class="sub-title  sub-container white-text text-sub-group">
              Vacaciones
            </p>
          </div>
          <div class="col-lg-12">
            <p align="left" class="sub-title  sub-container text-sub-group">
              Establece un limite que te permita conocer el estado de tus activos
            </p>
          </div>

          <div class="row container-colors">
            <div class="col-lg-4">
              <div class="div-color div-red"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-yellow"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-green"></div>
            </div>
          </div>

          <div class="row container-colors">
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'holidays', 'red')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['holidays'].red.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'holidays', 'yellow')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['holidays'].yellow.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValue($event, 'holidays', 'green')" type="text"
                     class="input-selector-alert  third-width" value="{{configuration['holidays'].green.start}}">
            </div>
          </div>
        </div>

        <div class="col-lg-12 center">
          <button (click)="saveAlerts()" class="btn btn-success btn-save">Guardar cambios</button>
        </div>

      </div>


      <div class="row alert-configuration">
        <div class="col-lg-12 group-title">
          <p align="left" class="sub-title  sub-container white-text">
            Conducción
          </p>
        </div>
        <div class="row sub-group-div">
          <div class="col-lg-2 group-title div-sub-group">
            <p align="left" class="sub-title  sub-container white-text text-sub-group">
              Kilometros
            </p>
          </div>
          <div class="col-lg-12">
            <p align="left" class="sub-title  sub-container text-sub-group">
              Establece un limite que te permita conocer el estado de tus activos
            </p>
          </div>

          <div class="row container-colors-range">
            <div class="col-lg-4">
              <div class="div-color div-red"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-green"></div>
            </div>
            <div class="col-lg-4">
              <div class="div-color div-red"></div>
            </div>
          </div>

          <div class="row container-colors-range">
            <div class="col-lg-4">
              <input (change)="changeValueRange($event, 'kilometers', 'red', 'end')" type="text"
                     class="input-selector-alert-range  third-width" value="{{configuration['kilometers'].red.end}}">
              -
              <input (change)="changeValueRange($event, 'kilometers', 'red', 'start')" type="text"
                     class="input-selector-alert-range  third-width" value="{{configuration['kilometers'].red.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValueRange($event, 'kilometers', 'yellow', 'end')" type="text"
                     class="input-selector-alert-range  third-width" value="{{configuration['kilometers'].yellow.end}}">
              -
              <input (change)="changeValueRange($event, 'kilometers', 'yellow', 'start')" type="text"
                     class="input-selector-alert-range  third-width" value="{{configuration['kilometers'].yellow.start}}">
            </div>
            <div class="col-lg-4">
              <input (change)="changeValueRange($event, 'kilometers', 'green', 'end')" type="text"
                     class="input-selector-alert-range  third-width" value="{{configuration['kilometers'].green.end}}">
              -
              <input (change)="changeValueRange($event, 'kilometers', 'green', 'start')" type="text"
                     class="input-selector-alert-range  third-width" value="{{configuration['kilometers'].green.start}}">
            </div>
          </div>
        </div>

        <div class="col-lg-12 center">
          <button (click)="saveAlerts()" class="btn btn-success btn-save">Guardar cambios</button>
        </div>
    </div>

  </div>

  </div>
</div>
