p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 25px;
}

.hr-container {
  border-bottom: 1px solid #E2ECFC;
  border-top: white;
  padding-top: 22px;
  border-right: white;
  border-left: white
}

.configuration-container {
  margin-top: 30px;
  height: 220px;
  max-width: 100%;
}

.configuration-card {
  width: 100%;
  height: 100%;
}

.hr-card {
  border-top: 1px solid #E2ECFC;
  border-bottom: white;
  padding-top: 16px;
  border-right: white;
  border-left: white
}

.sub-title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-size: 17px;
  color: #323945;
}

.sub-container{
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: normal;
}

.text-sub-group{
  text-align: center;
}

.div-color{
  width: 173px;
  height: 47px;
  border-radius: 15px;
}

.div-red{
  background-color: #eb5757;
}

.div-yellow{
  background-color: #F2C34A;
}

.div-green{
  background-color: #219653;
}

.container-colors{
  width: 55%;
  margin: 0 auto;
}

.container-colors-range{
  width: 75%;
  margin: 0 auto;
}

.icon-selector-alert{
  background-color: grey;
  border-radius: 54px;
  width: 30px !important;
  cursor: pointer;
}

.input-selector-alert{
  background-color: #e2ecfc;
  width: 43px !important;
  height: 43px  !important;
  border: none;
  font-size: 1.5em;
  text-align: center;
}

.input-selector-alert-range{
  background-color: #e2ecfc;
  width: 60px !important;
  height: 43px  !important;
  border: none;
  font-size: 1.5em;
  text-align: center;
}

.third-width{
  width: 30%;
  padding: 5px;
  margin: 5px;
}

.white-text{
  color: white;
  font-weight: bolder;
}

.div-sub-group{
  border-radius: 15px;
  margin: 20px;
}

.info-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 17px;
  color: #323945;
}

.configuration-title {
  margin-top: 50px
}

.container-alerts{
  background-color: white;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.container-alerts .row{
  padding-bottom: 0px;
}

.alert-configuration {
  max-width: 100%;
  margin: 0;
}

.group-title{
  color: white !important;
  background-color: #1875f0;
}

.check-box {
  margin-top: 15px;
}

.options {
  display: grid;
}

.btn-save{
  margin-top: 4vw;
  margin-bottom: 4vw;
  font-weight: bolder;
  font-size: 1em;
  background: #11CB87;
  border-radius: 20px;
  height: 45px;
  width: 167px;
  border: 0 !important;
}
