<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ingresar contratos reestructurados</h5>
        <div class="row">
          <div class="col-lg-12">
            <input type="file" (change)="onFileChange($event)" multiple="false" />
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Resumen</h5>
        <div class="row">
          <div class="col-6">
            Contrato
          </div>
          <div class="col-6">
            Reestructurado
          </div>
        </div>
  
        <div class="row" *ngFor="let score of dataFinal">
          <div class="col-6">
            {{score.contractNumber}}
          </div>
          <div class="col-6">
            {{score.reestructured}}
          </div>
        </div>
  
        <div class="row" *ngIf="dataFinal.length > 0 && validData">
          <div class="col-12">
            <button class="btn btn-success" (click)="savePoints()">Confirmar</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
