<div class="container padding-line" align="center">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let item of navLinks"
       [routerLink]="item.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{item.title}}
    </a>
  </nav>
</div>
