<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <b>Historial de pagos</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-2"><b>Fecha</b></div>
        <div class="col-2"><b>Total de pagos</b></div>
        <div class="col-2"><b>Pagos que fallaron</b></div>
        <div class="col-6"><b>Errores</b></div>
      </div>
      <div class="row" *ngFor="let payment of paymentHistory">
        <div class="col-2">{{payment['CreatedAt'] | date: 'dd/MM/yyyy'}}</div>
        <div class="col-2">{{payment['PaymentsTotal']}}</div>
        <div class="col-2">{{payment['PaymentsFailed']}}</div>
        <div class="col-6">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Errores
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-3"><b>Monto</b></div>
                  <div class="col-3"><b>Numero de contrato</b></div>
                  <div class="col-3"><b>Voucher</b></div>
                  <div class="col-3"><b>Error</b></div>
                </div>
                <div class="row" *ngFor="let error of payment['RawResult']['result']">
                  <div class="col-3">{{error['amount']}}</div>
                  <div class="col-3">{{error['contract_number']}}</div>
                  <div class="col-3">{{error['voucher']}}</div>
                  <div class="col-3">{{error['message']}}</div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingresar pago</h5>
      <div class="row">
        <div class="col-lg-12">
          <input type="file" (change)="onFileChange($event)" multiple="false" />
        </div>
        <div class="col-lg-12">
          <mat-checkbox [(ngModel)]="interest">Con intereses</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card" *ngIf="!showProgress">
    <div class="card-body">
      <h5 class="card-title">Resumen de pagos</h5>
      <div class="row">
        <div class="col-2">
          Credito
        </div>
        <div class="col-2">
          Cod. Franquicia
        </div>
        <div class="col-2">
          Estación
        </div>
        <div class="col-2">
          Monto pagado
        </div>
        <div class="col-2">
          Fecha Transacción
        </div>
        <div class="col-2">
          Voucher
        </div>
      </div>

      <div class="row" *ngFor="let payment of dataFinal">
        <div class="col-2">
          {{payment['contract_number']}}
        </div>
        <div class="col-2">
          {{payment['location_code']}}
        </div>
        <div class="col-2">
          {{payment['location_name']}}
        </div>
        <div class="col-2">
          {{payment['amount'] | suffPipe}}
        </div>
        <div class="col-2">
          {{payment['transaction_date']}}
        </div>
        <div class="col-2">
          {{payment['voucher']}}
        </div>
        <hr>
      </div>
  
      <div class="row" *ngIf="dataFinal.length > 0">
        <div class="col-12">
          <button class="btn btn-success" (click)="savePayment()">Confirmar</button>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="card" *ngIf="result.length > 0">
    <div class="card-body">
      <h5 class="card-title">Resultado</h5>

      <div class="row rowdivide" *ngFor="let paymentResult of result">
        <div class="col-3">{{paymentResult['contract_number']}}</div>
        <div class="col-3">{{paymentResult['amount'] | suffPipe}}</div>
        <div class="col-3">{{paymentResult['voucher']}}</div>
        <div class="col-3" [className]="paymentResult['result'] ? 'success' : 'error'">{{paymentResult['message']}}</div>
        <hr>
      </div>

    </div>
  </div>
</div>
<div class="container progress-div" *ngIf="showProgress && total !== current">
  <div class="row">
    <div class="col-12">
      <div class="progress" style="height: 40px;">
        <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="percentage + '%'" [attr.aria-valuenow]="percentage" aria-valuemin="0" aria-valuemax="100">
        {{current}} / {{total}}
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="true"></ngx-spinner>
