.rowdivide {
    border: 2px solid #1875F0;
    padding: 10px;
}

.progress-div {
    position: absolute;
    bottom: 0px;
    right: 50px;
}

.error {
    border: 2px red solid;
}

.success {
    border: 2px green solid;
}