.divider{
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 20px;
}

.main-title{
  font-weight: bolder;
  font-size: 1.8em;
}

.note {
  color: #5D697E !important;
  font-size: 0.5em;
  margin-left: 20px;
}
