<mat-tab-group #tabGroup>
  <mat-tab label="Todos">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="main-title">Comportamiento</h1>
        </div>
      </div>
      <div class="row" id="collect">
        <div class="col-12">
          <app-operation-dashboard-behaviour  (changeToIndexTab)="changeToIndexTab($event)" [titleText]="'Recaudo'" [titleShown]="true"></app-operation-dashboard-behaviour>
        </div>
      </div>
      <div class="row" id="check">
        <div class="col-6">
          <app-maintenance-dashboard></app-maintenance-dashboard>
        </div>
        <div class="col-6">
          <app-behaviour-dashboard></app-behaviour-dashboard>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Recaudo">
    <app-operation-behaviour-child></app-operation-behaviour-child>
  </mat-tab>
  <mat-tab label="Pagos">
    <app-operation-behaviour-payments></app-operation-behaviour-payments>
  </mat-tab>
  <mat-tab label="Score">
    <div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
      <div fxFlex="100%" fxFlexAlign="center" align="center">
        <div align="left">
          <p class="component-title">Score   <span class="note">  *El score corresponde al último día de la fecha seleccionada</span></p>
        </div>
        <div style="max-width: 904px;height: 511px; margin-top: 30px">
          <app-table [pageSize]="5"
                     [hidePagination]="false"
                     [url]="'get-vehicles-in-risk-table'"
                     [urlExcel]="'get-vehicles-in-risk-table-all'"
                     [hideButtons]="false"
                     [columns]="attributeLabels"
                     [microService]="scoreMicroService"></app-table>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

