<div class="container container-next  no-padding-sides no-padding-bottom">
    <div class="row header">
      <div class="col-2">
        <div class="icon-card icon-card-blue">
          <img [src]="'assets/icons_name/hand.svg'">
        </div>
      </div>
      <div class="col-8">
        <span class="title-card">{{'home.pay'|translate}}</span>
      </div>
      <div class="col-2">
        <div class="icon-card icon-card-big">
          <div class="icon-card icon-card-dot">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-3 right">
          <span class="very-big-text-card-purple">{{count === 0 ? 0 : sum / count | round}}</span>
      </div>
      <div class="col-9 line-height left" style="padding-top: 6px;">
          <span class="subtitle-card-medium2">{{'payment.days-avg'|translate}}</span>
      </div>
    </div>
  
    <div class="row no-padding-sides frecuency-container">
      <div class="col-12 no-padding-sides">
        <div class="row">
            <div class="col-1">
            </div>
          <div class="col-2 center">
            <span class="big-text-card-white">{{count === 0 ? 0 : (countMinus * 100) / count | round}}%</span>
          </div>
          <div class="col-5 center line-height">
              <span class="subtitle-card-white-medium2">
                {{'drivers'|translate}} {{'home.payed'|translate}} {{'to'|translate}} {{'more'|translate}} {{'of'|translate}}
              </span>
          </div>
          <div class="col-3 center" >
              <span class="big-text-card-white">40</span>
              <span class="subtitle-card-white">{{'days'|translate}}</span>
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
    </div>
  </div>
