<div class="container container-next no-padding-sides no-padding-bottom">
    <div class="row">
      <div class="col-12 transform">
        <span>En Construcción</span>
      </div>
    </div>
  </div>
  