<div class="container container-next  no-padding-sides no-padding-bottom">
    <div class="row header">
      <div class="col-2">
        <div class="icon-card icon-card-green">
          <img [src]="'assets/icons_name/clock_2.svg'">
        </div>
      </div>
      <div class="col-8">
        <span class="title-card">{{'payment.fulfillment'|translate}}</span>
      </div>
      <div class="col-2">
        <div class="icon-card icon-card-big">
          <div class="icon-card icon-card-dot">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-8 center" style="padding-top: 6px;">
          <span class="subtitle-card-medium2">{{'payment.percentage-pay'|translate}}</span>
      </div>
      <div class="col-4 center">
          <span class="very-big-text-card-blue">{{ideal === 0 ? 0 : (payed * 100) / ideal | round}}%</span>
      </div>
    </div>
  
    <div class="row">
        <div class="col-8 center">
            <span class="very-big-text-card-purple">{{ideal | suffPipe:',':'.':'S/' }}</span>
        </div>
      <div class="col-4 line-height right" style="padding-top: 6px;">
          <span class="subtitle-card-medium2">{{'payment.ideal-pay'|translate}}</span>
      </div>
    </div>
  
  
  </div>
