li {
  cursor: pointer;
}

.sub-menu{
  background-color: #e2ecfc !important;
}

.icon-menu{
  width: 30px;
}

.icon-menu-other{
  width: 30px;
}

.icon-sub-menu{
  float: right;
  margin-top: -3px;
  width: 20px;
}

.menu-container {
  width: 134px;
  position: fixed;
  background: #fff;
  top: 60px;
  bottom: 0;
  left: 0;
  border-right: white;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  font-family: 'Montserrat';
  overflow: auto;
  height: calc(100% - 60px);
  z-index: 9999999;
  box-shadow: 0 5px 2px #ccc;
}

.menu-container .show-menu {
  left: 0;
}

.menu-container.hide-menu {
  left: -250px;
}

.menu-open {
  margin-left: 250px !important;
}

.pl-menu ul {
  list-style: none;
  padding: 0;
}

.sub-menu > li > a {
  padding-left: 32px !important;
}

.pl-menu ul > li > a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  border-bottom: 1px solid #E2ECFC;
}

.pl-menu ul > li > div:hover {
  background: #1875F0 !important;
  color: #fff;
}

.pl-menu ul > li > a:hover {
  background: #1875F0 !important;
  color: #fff;
}

.pl-menu ul > li > a:hover > i {
  fill: #fff !important;
}

.pl-menu ul > li > a > i {
  font-size: 24px;
  float: right;
  margin-top: 1px;
}

.pl-menu-overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  transition: all 1s linear;
}

.show-overlay {
  display: block;
}

.hide-overlay {
  display: none;
}

.angle {
  margin: 3vh;
  width: 24px;
  height: 24px;
  padding: 1vh;
  right: 0.5vw;
  position: absolute;
}

.angle-down {
  background: url(~src/assets/icons/arrow-down.svg) no-repeat top;
  background-size: contain;
}

.angle-up {
  background: url(~src/assets/icons/arrow-up.svg) no-repeat top;
  background-size: contain;
}

.logout-img{
  width: 23px !important;
  margin-right: 7px;
}

.logout-li{
  position: absolute;
  bottom: 2vh;
  width: 100%;
}

.logout-li > a {
  border: 0 !important;
}

.link-menu:hover .icon-menu {
  display: none;
}

.link-menu:hover .icon-menu-other {
  display: inline !important;
}

.link-menu {
  position: absolute;
  padding: 1.5vw 1vw 1vw 1vw;
}

.menu-item {
  height: 9vh;
  position: relative;
}
