<div class="menu-container pl-menu">
  <ul>
    <li *ngFor="let item of menuList">
      <div class="menu-item">
        <a (click)="closeDrawer(item.link)" class="link-menu">
        <span class="span-menu">
          <img [src]="item.imageLink" class="icon-menu">
          <img [src]="item.imageLinkOther" class="icon-menu-other" style="display: none;">
          {{item.title}}
        </span>
        </a>
        <i (click)="toggleSubMenu(item)" *ngIf="item.subItems"
           class="angle"
           [ngClass]="item.subItems && !item.expand ? 'angle-down' : 'angle-up'"></i>
      </div>
      <ul *ngIf="item.subItems" class="sub-menu" [hidden]="!item.expand">
        <li *ngFor="let subitem of item.subItems" (click)="closeDrawer(subitem.link)">
          <a>
            {{subitem.title}}
            <img [src]="'assets/icons_name/arrow_right_simple.svg'" class="icon-sub-menu">
          </a>
        </li>
      </ul>
    </li>
    <li [routerLink]="'/logout'" class="logout-li">
      <a (click)="logout()">
        <img [src]="'assets/icons_name/logout.svg'" class="icon-menu logout-img">
        Cerrar sesión
      </a>
    </li>
  </ul>
</div>
