<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cargar Documentos</h5>
      <div class="row">
        <div class="col-lg-12">
          <input type="file" (change)="onFileChange($event)" multiple="false" />
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Documentos a Modificar</h5>
      <div class="row">
        <div class="col-2">
          Vehicle/Dni
        </div>
        <div class="col-2">
          Tipo
        </div>
        <div class="col-2">
          Fecha Expedicion
        </div>
        <div class="col-2">
          Fecha Expiracion
        </div>
        <div class="col-2">
          Tipo Documento
        </div>
        <div class="col-1">
          Estado
        </div>
      </div>

      <div class="row" *ngFor="let payment of dataSend">
        <div class="col-2">
          {{payment['dni']}}
        </div>
        <div class="col-2">
          {{payment['type']}}
        </div>
        <div class="col-2">
          {{payment['expedition_date']}}
        </div>
        <div class="col-2">
          {{payment['expiration_date']}}
        </div>
        <div class="col-2">
          {{payment['document_type']}}
        </div>
        <div class="col-1" *ngIf="payment['status']==='success'">
          <img style="width: 2rem !important;" [src]="'assets/img/Bien.svg'" alt="">
        </div>
        <div class="col-1" *ngIf="payment['status']==='danger'">
          <img style="width: 2rem !important;" [src]="'assets/img/close-red.svg'" alt="">
        </div>
      </div>

      <div class="row" *ngIf="dataSend.length > 0">
        <div class="col-12">
          <button class="btn btn-success" (click)="savePayments()">Confirmar</button>
        </div>
      </div>

    </div>
  </div>
</div>
