<div class="container">
  <div class="row">
    <div class="col-3 center">
      {{contractInfo['Number']}}
    </div>
    <div class="col-3 center">
      {{userInfo['Dni']}}
    </div>
    <div class="col-6 center">
      {{userInfo['Name']}} {{userInfo['LastName']}}
    </div>
  </div>
</div>