<app-nav-component-generator [navLinks]="navLinks"></app-nav-component-generator>
<div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
  <div fxFlex="100%" fxFlexAlign="center" align="center">
    <div align="left">
      <p class="component-title">Kilometros</p>
    </div>
    <div style="max-width: 904px;height: 511px; margin-top: 30px">
      <app-table [pageSize]="5"
                 [hidePagination]="false"
                 [url]="'vehicles-distance'"
                 [urlExcel]="'vehicles-distance-table'"
                 [hideButtons]="false"
                 [columns]="attributeLabels"
                 [microService]="vehicleMicroService"></app-table>
    </div>
  </div>
</div>
