.box-chart {
  width: 98%;
  height: 780px;

  background: #FFFFFF;
  border-radius: 10px;
}

.box-chart .body-chart {
  height: 450px;
}

.vehicle-selected{
  background: #F2C94C;
  border-radius: 30px;
  padding: 8px;
  color: white;
  font-weight: bolder;
  margin-top: 12px;
  text-align: center;
}
.di-none {
  display: none;
}

.title-chart {
  padding-top: 10px;
  font-weight: bolder;
}
