<div class="container box-chart">
  <div class="row ">
      <div class="col-12 title-chart">
        Correlación: {{yVar}} vs. {{xVar}}
      </div>
  </div>
  <div class="row ">
    <div class="col-3"></div>
    <div class="col-6 center">
      <div class="vehicle-selected">
        Seleccionado: {{selected}}/Total: {{count}}
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row " *ngIf="false">
    <div class="col-3 form-group">
      <span *ngIf="compare">Fecha Inicio: </span>
      <span *ngIf="!compare">Fecha: </span>
      <mat-form-field class="topBarInput margin-sides" style="min-width: 60px">
        <input matInput (change)=resetChart() (click)="picker1.open()"  [matDatepicker]="picker1" [formControl]="startDatePeriod1" class="text-filter">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker  #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-1"></div>
    <div class="col-4 right">
      <div>
        Comportamiento en el tiempo:
        <input type="checkbox" class="text-filter" (click)="toggleCompare()">
      </div>
    </div>
    <div class="col-1"></div>

    <div class="col-3" *ngIf="compare">
      <div>
        <span>Fecha Fin: </span>
        <mat-form-field class="topBarInput margin-sides" style="min-width: 60px">
          <input matInput (click)="picker2.open()"  [matDatepicker]="picker2" [formControl]="startDatePeriod2" class="text-filter">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12" *ngIf="compare">
      <mat-slider
        thumbLabel
        style="width: 100%"
        (change)="formatLabel($event)"
        tickInterval="1"
        min="0"
        max="{{max}}"></mat-slider>
    </div>
  </div>

  <div class="row body-chart" >
    <div class="col-12">
      <google-chart (chartSelect)="select($event)" [data]="chartCompare" ></google-chart>
    </div>
  </div>

  <div class="row body-chart" >

    <div class="col-3">
      <button class="btn btn-info" (click)="reset()">Todos</button>
    </div>

    <div class="col-3">
      <mat-form-field>
        <mat-label>Productivos</mat-label>
        <mat-select [(value)]="productive" >
          <mat-option *ngFor="let productive of productives" (click)="setValueParamY(productive.viewValue, productive.value, 'productive')" [value]="productive.value">
            {{productive.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field>
        <mat-label>Comportamiento</mat-label>
        <mat-select [(value)]="behaviour" >
          <mat-option *ngFor="let behaviour of behaviours" (click)="setValueParamY(behaviour.viewValue, behaviour.value, 'behaviour')" [value]="behaviour.value">
            {{behaviour.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field>
        <mat-label>Cuidado</mat-label>
        <mat-select [(value)]="care" >
          <mat-option *ngFor="let care of cares" (click)="setValueParamY(care.viewValue, care.value, 'care')" [value]="care.value">
            {{care.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>


</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>
