p {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  font-family: Montserrat, serif;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.vehicle-card-container {
  height: 100%;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.vehicle-card-header {
  height: 77px;
  background: #11CB87;
  border-radius: 5px;
}

.risk-indicator {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 2em;
  text-align: center;
  color: #FFFFFF;
}

.risk-indicator-calc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.risk-title {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-size: 1em;
  color: black;

}
