<mat-card class="vehicle-card-container">
  <mat-card-header class="vehicle-card-header">
    <mat-card-title class="vehicle-card-container">
      <div class="row vehicle-card-container" routerLink="/driver/score">
        <div class="col-4" style="display: inline-flex" *ngIf="showNumber">
          <p class="risk-indicator">{{vehiclesInRisk}}</p>
        </div>
        <div class="col-8" *ngIf="showNumber">
          <p class="risk-title">{{titleCard}}</p>
        </div>
        <div class="col-12" *ngIf="!showNumber">
          <p class="risk-title">{{titleCard}}</p>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-table [pageSize]="5"
               [hidePagination]="false"
               [hideButtons]="false"
               [url]="'get-vehicles-in-risk-table'"
               [urlExcel]="'get-vehicles-in-risk-table-all'"
               [columns]="attributeLabels"
               [pageSizeOptions]="[]"
               [microService]="scoreMicroService"></app-table>
  </mat-card-content>
</mat-card>
