<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <div class="container">
    <div class="row">
      <div class="col-12 title-container">
        Escribe tu nueva contraseña
      </div>
    </div>
    <div class="row">
      <div class="col-12 title-input">
        <input formControlName="password" type="password" class="form-control input-email" placeholder="Escribe tu nueva contraseña">
      </div>
    </div>
    <div class="row">
      <div class="col-12 title-input">
        <input formControlName="confirmPassword" type="password" class="form-control input-email" placeholder="Escribe nuevamente tu contraseña">
      </div>
    </div>
    <div class="row">
      <div class="col-12 title-input center">
        <button type="submit" [disabled]="changePasswordForm.controls['confirmPassword'].invalid" class="btn btn-info btn-send">Recuperar cuenta</button>
      </div>
    </div>
  </div>
</form>
