.recovery-password-container {
  width: 100%;
  height: 100%;
}

.recovery-password-card {
  width: 400px;
  height: 370px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.recovery-password-form {
  margin-top: 36px;
}

.recovery-password-form-item {
  width: 70%;
  margin-top: 20px
}

.recovery-password-button-width {
  width: 60%;
  color: white;
  margin-top: 37px;
  background: #11CB87;
}

.recovery-password-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 25px;
  color: #16355E;
}

.container{
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(24, 117, 240, 0.15);
  border-radius: 5px;
  margin-top: 20vw;
  width: 70%;
}

.title-container{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 2em;
  color: #16355E;
}

.title-input{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 1.3em;
  color: #16355E;
}

.input-email{
  background: #E2ECFC;
  border-radius: 4px;
  height: 50px;
  font-size: 1.3em;
}

.btn-send{
  background: #11CB87;
  border-radius: 8px;font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.3em;
  text-align: center;
  width: 173px;
  height: 41px;
  color: #F8F8F8;
}
