.container-chart-behaviour{
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.title-dashboard{
  float: left;
  padding-left: 40px;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
}

.title-bar{
  font-style: normal;
  font-weight: bolder;
  height: 55px;
  line-height: 55px;
  font-size: 1em;
}

.label-number{
  background: #E2ECFC;
  border-radius: 5px;
  height: 55px;
  line-height: 55px;
  font-style: normal;
  font-weight: bolder;
  font-size: 1em;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.label-number.selected{
  background: #1875F0 !important;
  color: white !important;
  font-weight: bolder;
}

.review {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}

.review .row {
  margin: 0;
}

.review-title{
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 8px;
}

.review-target-title, .review-collect-title, .review-collect-percentage-title, .review-extra-collect-title{
  font-size: 0.9em;
  margin-top: 8px;
  margin-bottom: 5px;
}

.review-target-amount, .review-collect-amount, .review-collect-percentage, .review-extra-collect-amount{
  font-size: 1.2em;
  margin-top: 8px;
}

.review-collect-percentage{
  font-size: 1.5em !important;
  padding-right: 30px;
  font-weight: bolder;
}

.ball{
  height: 15px;
  width: 15px;
  border-radius: 30px;
  padding: 0;
  flex: 0;
  margin-top: 8px;
}

.ball-blue{
  background: #1875F0;
}

.ball-soft-blue{
  background: #B3D1FA;
}

.ball-red{
  background: #EB5757;
}
