  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <span routerLink="/driver/operation-dashboard" class="title-dashboard">{{titleText | translate}}</span>
        </div>
        <div  class="col-4" align="left">
          <mat-select class="select-options-collect" placeholder="Opciones" [(ngModel)]="selectedOptions" (selectionChange)="changeOptions($event)" multiple>
            <mat-option *ngFor="let optionsDisplay of optionsDisplayList" [value]="optionsDisplay">{{optionsDisplay}}</mat-option>
          </mat-select>
        </div>
        <div  class="col-5" align="right">
          <mat-button-toggle-group class="btn-options-collect" name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)">
            <mat-button-toggle [checked]="true" [value]="'day'">Día</mat-button-toggle>
            <mat-button-toggle [value]="'week'">Semana</mat-button-toggle>
            <mat-button-toggle [value]="'month'">Mes</mat-button-toggle>
            <mat-button-toggle [value]="'year'">Año</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-8">
          <div style="width: 100%; height: 370px;">
            <!--<google-chart [data]="pieChart" *ngIf="multiGoogle.length > 0"></google-chart>-->

            <ngx-charts-area-chart
              *ngIf="showChart"
              [view]="view"
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [autoScale]="autoScale"
              autoScale="'false'"
              [xAxisTickFormatting]="formatDateValue"
              [schemeType]="'ordinal'"


            >
            </ngx-charts-area-chart>
          </div>

        </div>
        <div class="col-4">
          <div class="review">
            <div class="row">
              <div class="col-12 review-title center">
                Indicadores
              </div>

              <div class="col-12 review-target-title">
                Meta de recaudo en el período seleccionado
              </div>
              <div class="col-12 review-target">
                <div class="row">
                  <div class="col-2">
                    <div class="ball ball-blue "></div>
                  </div>
                  <div class="col-10 review-target-amount right">
                    {{ (targetAmount) | currency : '$' : 'symbol' : '1.0'}}
                  </div>
                </div>
              </div>

              <div class="col-12 review-collect-title">
                Recaudo en el período seleccionado
              </div>
              <div class="col-12 review-collect">
                <div class="row">
                  <div class="col-2">
                    <div class="ball ball-soft-blue "></div>
                  </div>
                  <div class="col-10 review-collect-amount right">
                    {{ (collectAmount) | currency : '$' : 'symbol' : '1.0'}}
                  </div>
                </div>
              </div>

              <div class="col-6 review-collect-percentage-title">
                Porcentaje recaudado
              </div>
              <div class="col-6 review-collect-percentage right">
                {{ collectPercentage }}%
              </div>

              <div class="col-12 review-extra-collect-title">
                Número de abonos
              </div>
              <div class="col-12 review-extra-collect">
                <div class="row">
                  <div class="col-2">
                    <div class="ball ball-red "></div>
                  </div>
                  <div class="col-10 review-extra-collect-amount right">
                    {{extraPaymentCount}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 center" *ngIf="showBarBottom">
      <div class="row">


        <div class="col-3">
          <div class="label-number" (click)="selectTypeInstallment('all')" [ngClass]="selectedTypeInstallment === 'all' ? 'selected' : ''">
            <div class="row">
              <div class="col-6 left">Todas</div>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="label-number" (click)="selectTypeInstallment('void')"  [ngClass]="selectedTypeInstallment === 'void' ? 'selected' : ''">
            <div class="row">
              <div class="col-6 left">{{'mora' | translate}}:</div>
              <div class="col-6 right">{{installmentVoided}}</div>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="label-number" (click)="selectTypeInstallment('payed')" [ngClass]="selectedTypeInstallment === 'payed' ? 'selected' : ''">
            <div class="row">
              <div class="col-6 left">Pagadas:</div>
              <div class="col-6 right">{{installmentPayed}}</div>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="label-number" (click)="selectTypeInstallment('partial')" [ngClass]="selectedTypeInstallment === 'partial' ? 'selected' : ''">
            <div class="row">
              <div class="col-6 left">Pendientes:</div>
              <div class="col-6 right">{{installmentPartials}}</div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="true"></ngx-spinner>
