<div class="container-fluid" style="height: auto">
  <div class="row bg-card-customer" style="height: auto">

    <div class="col-3 info-driver" style="height: auto">
      <button [disabled]="submitted" mat-dialog-close="true" class="header-modal-close">
        <img style="height: 2vh" [src]="'https://k3-public.s3.amazonaws.com/av2_operations/icons/close.svg'" alt="Close modal">
      </button>
      <div class="container mx-auto" align="center">
        <div class="row">
          <div class="col-12">
            <img src="https://k3-public.s3.amazonaws.com/common_assets/avatar-demo.svg" alt=""
               class="driver-img py-2 mt-3">
          </div>
          <div class="col-12">
            <h3 class="text-p16" *ngIf="info">
              {{info.name}} {{info.last_name}}
            </h3>
          </div>
        </div>
      </div>
      <hr class="mt-0">

      <div class="container">
        <p class="contact-info">{{'shared.contact-info'|translate}}:</p>

        <span class="sub-title">{{'shared.phone'|translate}}:</span>
        <p class="sub-body" *ngIf="info">{{info.mobile}}</p>

        <span class="sub-title">{{'shared.address'|translate}}:</span>
        <p class="sub-body" *ngIf="info">{{info.address}}</p>

        <p class="contact-info">{{'shared.data-financing'|translate}}</p>

        <span class="sub-title">{{'shared.contract-ini'|translate}}</span>
        <p class="sub-body" *ngIf="info">{{info.DateStart}}</p>

        <span class="sub-title">{{'shared.credit-number'|translate}}</span>
        <p class="sub-body" *ngIf="data">{{data.contract_number}}</p>

        <span class="sub-title">{{'shared.current-debt'|translate}}</span>
        <p class="sub-body" *ngIf="data">{{data.debt_amount | suffPipe }}</p>

        <span class="sub-title">{{'shared.amount-original'|translate}}</span>
        <p class="sub-body" *ngIf="info">{{info.TotalPayment | suffPipe }}</p>

        <span class="sub-title">{{'shared.original-fees'|translate}}</span>
        <p class="sub-body" *ngIf="info">{{info.Installments}}</p>
      </div>
      <hr>
    </div>
    <div class="col-6 bg-card-customer">
      <h4 class="sub-body py-3 bd-body">{{'shared.assigned-vehicle'|translate}}:</h4>
      <div class="card" style="background: #1875F0;border-radius: 5px;">
        <div class="container">
          <div class="row" style="padding-bottom: 0px !important;">
            <div class="col-3 my-auto">
              <img [src]="'assets/img/vehicle.svg'" alt="">
            </div>
            <div class="col-4">
              <p class="my-auto align-middle" *ngIf="vehicle">
                <b class="text-p16">{{vehicle[0].name}}</b>
                <span class="sub-body">{{'year'|translate}}: {{vehicle[0].year}}</span>
              </p>
            </div>
            <div class="col-5 my-auto align-middle">
              <table>
                <tr class="my-auto align-middle">
                  <td>
                    <b class="sub-title">{{'plate'|translate}}:</b>
                  </td>
                  <td>
                    <b class="plate px-4 py-1" *ngIf="data">{{data.plate}}</b>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="sub-title">{{'kilometers'|translate}}:</span>
                  </td>
                  <td>
                    <span class="plate px-4 py-1" *ngIf="data">{{data.kilometers}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-2 px-0">
            <span class="sub-body py-3 bd-body">
              {{'alerts'|translate}}:
            </span>
          </div>
          <div class="col-7 px-0 my-auto">
            <span class="sub-title" style="color: #9F9F9F;">
              {{'shared.select-alert'|translate}}
            </span>
          </div>
          <div class="col-3 px-0">
            <span class="sub-body py-3 bd-body">
              {{'activity'|translate}}
              <app-icon-information [id]="0" [contractId]="0"></app-icon-information>
            </span>
          </div>
        </div>
      </div>
      <div class="container bg-white rounded" style="margin-bottom: 10px;overflow-x: hidden;max-height: 161px;">
        <div class="row">
          <div class="col-3 px-0 my-auto border-right py-3">
            <span class="sub-title-alert" >
              Titulo
            </span>
          </div>
          <div class="col-3 px-0 my-auto border-right py-3">
            <span class="sub-title-alert" >
              Descripción
            </span>
          </div>
          <div class="col-3 px-0 my-auto border-right py-3">
            <span class="sub-title-alert" >
              Fecha
            </span>
          </div>
          <div class="col-3 px-0 my-auto">
            <span class="sub-title-alert">
              Acciones
            </span>
          </div>
        </div>

        <div class="row border-top" *ngFor="let item of dataAlerts">
          <div class="col-3 px-0 my-auto border-right py-3">
            <span class="sub-title-alert" style="color: #1875F0 !important;">
              {{item.class}}
            </span>
          </div>
          <div class="col-3 px-0 my-auto border-right py-3">
            <span class="sub-title-alert" style="color: #5D697E !important;">
              {{ item.type }}
            </span>
          </div>
          <div class="col-3 px-0 my-auto border-right py-3">
            <span class="sub-title-alert" style="color: #5D697E !important;">
              {{ item.date | date:'yyyy-MM-d':'UTC'  }}
            </span>
          </div>
          <div class="col-3 px-0 my-auto">
            <span class="sub-title-alert mx-auto" >
              <app-tablet-actions [id]="item['owner_contract_id']"
                              [data]="item"
                              [showBasicBtns]="showBasicBtns"
                              [showMaintenanceBtns]="showMaintenanceBtns"></app-tablet-actions>
            </span>
          </div>
        </div>
      </div>
      <div class="container container-alert" style="padding: 0;">
        <div class="row">
          <div class="col-12">
          </div>
        </div>
        <div class="row">
          <div class="col-12"  style="padding: 0;">

          <app-variable-graph
          [typesAvailable] = "typesAvailable"
          [ownerContractId]="data.owner_contract_id"></app-variable-graph>
          </div>
        </div>
      </div>

    </div>
    <div class="col-3 bg-card-customer">
      <div class="container" style="height: 70vh;overflow: auto" *ngIf="tickets.length > 0">
        <h4 class="sub-body py-3 bd-body">{{'home.tickets_pending'|translate}}</h4>
        <div *ngIf="tickets">
          <div class="card py-1 mb-3" *ngFor="let column of tickets;" [ngClass]="column['expiration_date'] && column['Amount'] > column['AmountPayed']?'bg-red':'bg-white'">
            <div class="container" style="padding: 0;">
              <div class="row pb-0">
                <div class="col-2">
                  <img *ngIf="column['expiration_date'] && column['Amount'] > column['AmountPayed']" [src]="'assets/img/docs-white.svg'" alt="">
                  <img *ngIf="!column['expiration_date'] && column['Amount'] < column['AmountPayed']" [src]="'assets/img/docs.svg'" alt="">
                </div>
                <div class="col-10">
                  <p class="title-papeleta" [ngClass]="column['expiration_date'] && column['Amount'] > column['AmountPayed']?'text-white':''">
                    {{'home.tickets_pending'|translate}}{{column['TicketNumber']}}</p>
                  <p class="sub-papeleta"[ngClass]="column['expiration_date'] && column['Amount'] > column['AmountPayed']?'text-white':''">
                    {{column['TicketDate']|date:'yyyy-MM-d':'UTC' }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="height: 70vh;overflow: auto"  *ngIf="documents.length > 0">
        <h4 class="sub-body py-3 bd-body">{{'home.documents'|translate}}:</h4>
        <div *ngIf="documents">
          <div style="padding-top: 10px !important; height: 50px;" class="card py-1 mb-3" *ngFor="let column of documents;" [ngClass]="!column['expired'] ? 'bg-red' : 'bg-white'">
            <div class="container"  style="padding: 0;">
              <div class="row">
                <div class="col-2">
                  <img *ngIf="!column['expired']" [src]="'assets/img/docs-white.svg'" alt="">
                  <img *ngIf="column['expired']" [src]="'assets/img/docs.svg'" alt="">
                </div>
                <div class="col-9">
                  <p class="title-papeleta" [ngClass]="!column['expired']?'text-white':''">{{column['label']}}</p>
                  <p class="sub-papeleta" [ngClass]="!column['expired']?'text-white':''">{{column['expiration_date']|date:'yyyy-MM-d':'UTC' }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
