.mat-dialog-container{
  padding: 0px !important;
}

.info-driver{
  background: #16355E;
  border-radius: 0px 0px 0px 5px;
}

.driver-img{
  width: 80px;
  height: 80px;
  left: 51px;
  top: 89px;
  border-radius: 5px;
}

.bg-red {
  background: #EB5757;
}

.text-p16{
  height: 40px;
  left: 17px;
  top: 217px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.contact-info{
  width: 175px;
  height: 13px;
  left: 28px;
  top: 292px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #77A2DB;
}

.sub-title{
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #FFFFFF
}

.sub-title-alert{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #5D697E;
  padding-left: 3px;
  padding-right: 3px;
}

.sub-body{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.plate{
  background: #5B9BF0;
  border-radius: 14px;
  font-weight: 800;
  font-size: 10px;
  display: flex;
  color: #FFFFFF;
}

hr{
  border: 0.5px solid #294D7D;
}

.bd-body{
  color: #16355E;
}

.bg-card-customer{
  background: #E5E5E5;
}

.sub-papeleta{
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #ADADAD;
  margin-bottom: 0px;
}

.title-papeleta{
  font-style: normal;
  font-weight: 500;
  font-size: 0.6em;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #5D697E;
  margin-bottom: 0px;
}

.container-alert {
  height: 400px;
  overflow-y: auto;
  padding-left: 5px;
  overflow-x: hidden;
  padding-right: 5px;
}

.row {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.container-fluid {
  padding: 0 !important;
}


