<div class="container container-next  no-padding-sides no-padding-bottom">
  <div class="row header">
    <div class="col-2">
      <div class="icon-card icon-card-grey">
        <img [src]="'assets/icons_name/car.svg'">
      </div>
    </div>
    <div class="col-8">
      <span class="title-card">{{'payment.productivity'|translate}}</span>
    </div>
    <div class="col-2">
      <div class="icon-card icon-card-big">
        <div class="icon-card icon-card-dot">
            <img (click)="downloadReport()" class="download-widget" [src]="'assets/icons_name/arrow_down_white.svg'">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-7 line-height" style="padding-top: 8px;">
        <span class="subtitle-card-medium2">{{'shared.average'|translate}} {{'daily'|translate}} {{'for'|translate}} {{'payment.customer'|translate}}</span>
    </div>
    <div class="col-5 center">
        <span class="very-big-text-card-blue">{{distance / countVehicles | round}}Km</span>
    </div>
  </div>

  <div class="row no-padding-sides inspection-container">
    <div class="col-12 no-padding-sides">
      <div class="row">
        <div class="col-3 center">
          <span class="big-text-card">{{(countMinusVehicles * 100) / countVehicles | round}}%</span>
        </div>
        <div class="col-6 center  line-height-medium">
            <span class="subtitle-card-medium2">{{'shared.vehicles'|translate}} {{'made'|translate}} {{'less'|translate}} {{'of'|translate}}</span>
        </div>
        <div class="col-3 center line-height-medium" >
            <span class="big-text-card">150Km</span>
            <br><span class="subtitle-card">{{'dailys'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
