<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-white">
      <div class="header-modal-details">
        <div class="d-inline-flex p-2">
          <div class="d-flex align-content-center flex-wrap m-1">
            <h2 class="header-modal-details-min-title">Notificar</h2>
          </div>
        </div>
        <div class="d-inline-flex ml-auto mr-2 align-items-center">
          <div class="d-flex align-content-end flex-wrap">
            <button [disabled]="submitted" mat-dialog-close="true" class="header-modal-close">
              <img style="height: 4.5vh" [src]="'https://k3-public.s3.amazonaws.com/av2_operations/icons/close.svg'" alt="Close modal">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 bg-white">
      <hr>
      <form class="form justify-content-center" [formGroup]="eventForm">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="notificationType">Tipo de notificación: *:</label>
              <select class="form-control" *ngIf="events" id="notificationType" name="notificationType"
                formControlName="notificationType">
                <option value="">Seleccione</option>
                <option *ngFor="let item of events" value="{{item}}">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <textarea formControlName="notificationText" name="notificationText" id="notificationText"
                class="form-control" formControlName="notificationText"></textarea>
            </div>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-6">
            <button (click)="saveNotification()" [disabled]="submitted" class="btn btn-success">Suspender
            </button>
          </div>
          <div class="col-6">
            <button (click)="alert()" [disabled]="submitted" class="btn btn-success">Resolver
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
