<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ingresar conductor</h5>
        <div class="row">
          <div class="col-lg-12">
            <input type="file" (change)="onFileChange($event)" multiple="false" />
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card" *ngIf="!showProgress">
      <div class="card-body">
        <h5 class="card-title">Resumen</h5>

        <div class="row rowdivide" *ngFor="let driver of dataFinal">
          <div class="container">
            <h6 class="card-title">Conductor</h6>
            <div class="row">
              <div class="col-3">Dni</div>
              <div class="col-3">Nombre</div>
              <div class="col-3">Apellido</div>
              <div class="col-3">Correo</div>
            </div>
            <div class="row">
              <div class="col-3">{{driver['person']['dni']}}</div>
              <div class="col-3">{{driver['person']['name']}}</div>
              <div class="col-3">{{driver['person']['lastname']}}</div>
              <div class="col-3">{{driver['person']['email']}}</div>
            </div>

            <h6 class="card-title">Vehículo</h6>
            <div class="row">
              <div class="col-3">Placa</div>
              <div class="col-3">Modelo</div>
              <div class="col-3">Empresa</div>
              <div class="col-3">Año</div>
            </div>
            <div class="row">
              <div class="col-3">{{driver['vehicle']['plate']}}</div>
              <div class="col-3">{{driver['vehicle']['model']}}</div>
              <div class="col-3">{{driver['vehicle']['enterprise']}}</div>
              <div class="col-3">{{driver['vehicle']['year']}}</div>
            </div>

            <h6 class="card-title">Contrato</h6>
            <div class="row">
              <div class="col-2">Número</div>
              <div class="col-2">Inicio</div>
              <div class="col-2">Fin</div>
              <div class="col-2">Valor credito</div>
              <div class="col-2">Cantidad cuotas</div>
              <div class="col-2">Cantidad cuotas pagadas</div>
            </div>
            <div class="row">
              <div class="col-2">{{driver['contract']['contractNumber']}}</div>
              <div class="col-2">{{driver['contract']['startDate']}}</div>
              <div class="col-2">{{driver['contract']['endDate']}}</div>
              <div class="col-2">{{driver['contract']['totalContract']}}</div>
              <div class="col-2">{{driver['contract']['totalInstallments']}}</div>
              <div class="col-2">{{driver['contract']['totalInstallmentsPayed']}}</div>
            </div>

          </div>
          <hr>
        </div>
  
        <div class="row" *ngIf="dataFinal.length > 0">
          <div class="col-12">
            <button class="btn btn-success" (click)="saveDrivers()">Confirmar</button>
          </div>
        </div>
  
      </div>
    </div>
    <br>
    <div class="card" *ngIf="result.length > 0">
      <div class="card-body">
        <h5 class="card-title">Resultado</h5>

        <div class="row rowdivide" *ngFor="let driver of result">
          <div class="container">
            <h6 class="card-title">Conductor</h6>
            <div class="row">
              <div class="col-3">Dni</div>
              <div class="col-3">Nombre</div>
              <div class="col-3">Apellido</div>
              <div class="col-3">Resultado</div>
            </div>
            <div class="row">
              <div class="col-3">{{driver['data']['person']['dni']}}</div>
              <div class="col-3">{{driver['data']['person']['name']}}</div>
              <div class="col-3">{{driver['data']['person']['lastname']}}</div>
              <div class="col-3">{{driver['error'] === false ? 'Cargado' : driver['message']}}</div>
            </div>

          </div>
          <hr>
        </div>
  
      </div>
    </div>
  </div>
  <div class="container progress-div" *ngIf="showProgress && total !== current">
    <div class="row">
      <div class="col-12">
        <div class="progress" style="height: 40px;">
          <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="percentage + '%'" [attr.aria-valuenow]="percentage" aria-valuemin="0" aria-valuemax="100">
          {{current}} / {{total}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="true"></ngx-spinner>
