<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos personales</h5>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="dni">Cédula</label>
                <input type="text" [(ngModel)]="infoContract.dni" class="form-control" id="dni" placeholder="Ingrese su cédula">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" [(ngModel)]="infoContract.name" class="form-control" id="name" placeholder="Ingrese su nombre">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="lastname">Apellido</label>
                <input type="text" [(ngModel)]="infoContract.lastname" class="form-control" id="lastname" placeholder="Ingrese su apellido">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="phone">Telefono</label>
                <input type="text" [(ngModel)]="infoContract.phone" class="form-control" id="phone" placeholder="Ingrese su telefono">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="mobile">Celular</label>
                <input type="text" [(ngModel)]="infoContract.mobile" class="form-control" id="mobile" placeholder="Ingrese su celular">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="email">Correo</label>
                <input type="text" [(ngModel)]="infoContract.email" class="form-control" id="email" placeholder="Ingrese su correo">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="dateOfBirth">Fecha de nacimiento</label>
                <mat-form-field class="dateOfBirth" >
                  <input matInput id="dateOfBirth" [(ngModel)]="infoContract.dateOfBirth" [matDatepicker]="picker" placeholder="">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="peopleOnCharge">Personas a cargo</label>
                <input type="number"  [(ngModel)]="infoContract.peopleOnCharge" class="form-control" id="peopleOnCharge" placeholder="Cuantas personas tiene a su cargo">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="gender">Genero</label>
                <select id="gender" [(ngModel)]="infoContract.gender" class="form-control">
                  <option value="0">Indique el genero</option>
                  <option *ngFor="let option of configuration.gender" [value]="option['Id']">{{option['Label']}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="ocupation">Ocupación</label>
                <select id="ocupation" [(ngModel)]="infoContract.ocupation" class="form-control">
                  <option value="0">Indique su ocupación</option>
                  <option *ngFor="let option of configuration.ocupation" [value]="option['Id']">{{option['Label']}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="studyLevel">Nivel de estudios</label>
                <select id="studyLevel" [(ngModel)]="infoContract.studyLevel" class="form-control">
                  <option value="0">Indique su nivel de estudios</option>
                  <option *ngFor="let option of configuration.studyLevel" [value]="option['Id']">{{option['Label']}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="civil_state">Estado civil</label>
                <select id="civil_state" [(ngModel)]="infoContract.civilState" class="form-control">
                  <option value="0">Indique su estado civil</option>
                  <option *ngFor="let option of configuration.civilState" [value]="option['Id']">{{option['Label']}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="role">Rol</label>
                <select id="role" [(ngModel)]="infoContract.role" class="form-control">
                  <option value="0">Indique su rol</option>
                  <option *ngFor="let option of configuration.roles" [value]="option['Id']">{{option['Label']}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos del vehiculo</h5>

          <div class="row">
            <div class="col-lg-4" *ngIf="!newVehicleChecked">
              <div class="form-group">
                <label for="vehicle">Vehículo asignado</label>
                <select (change)="assignVehicle($event)" id="vehicle" [(ngModel)]="infoContract.vehicleAssigned" class="form-control">
                  <option value="0">Indique el vehículo asignado</option>
                  <option  *ngFor="let option of configuration.plates" value="{{option['id']}}|{{option['plate']}}" >{{option['plate']}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <mat-slide-toggle (change)="newVehicle($event)">Vehículo no esta en la lista</mat-slide-toggle>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="newVehicleChecked">
              <div class="form-group">
                <label for="plate">Placa</label>
                <input (change)="assignPlate($event)"  type="text" [(ngModel)]="infoContract.plate" class="form-control" id="plate" placeholder="Ingrese la placa">
              </div>
            </div>
            <div class="col-lg-4" *ngIf="newVehicleChecked">
              <div class="form-group">
                <label for="vehicleModel">Módelo</label>
                <select id="vehicleModel" [(ngModel)]="infoContract.vehicleModel" class="form-control">
                  <option value="0">Indique el vehículo asignado</option>
                  <option  *ngFor="let option of configuration.vehicleModel" [value]="option['id']" >{{option['model']}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4" *ngIf="newVehicleChecked">
              <div class="form-group">
                <label for="engineNumber">Número de motor</label>
                <input type="text" [(ngModel)]="infoContract.engineNumber" class="form-control" id="engineNumber" placeholder="Ingrese número">
              </div>
            </div>
            <div class="col-lg-4" *ngIf="newVehicleChecked">
              <div class="form-group">
                <label for="chasisNumber">Número de chasis</label>
                <input type="text" [(ngModel)]="infoContract.chasisNumber" class="form-control" id="chasisNumber" placeholder="Ingrese número">
              </div>
            </div>
            <div class="col-lg-4" *ngIf="newVehicleChecked">
              <div class="form-group">
                <label for="enterprise">Empresa</label>
                <select id="enterprise" [(ngModel)]="infoContract.enterpriseId" class="form-control">
                  <option value="0">Indique la empresa</option>
                  <option  *ngFor="let option of configuration.enterprises" [value]="option['Id']" >{{option['Label']}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="newVehicleChecked">
              <div class="form-group">
                <label for="year">Año</label>
                <input type="text" [(ngModel)]="infoContract.year" class="form-control" id="year" placeholder="Ingrese el año">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos del contrato</h5>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="number">Número de contrato (# de credito si aplica)</label>
                <input type="text" [(ngModel)]="infoContract.contractNumber" class="form-control" id="number" placeholder="Ingrese el número del contrato">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="paymentDate">Día de pago</label>
                <input type="text" [(ngModel)]="infoContract.paymentDate" class="form-control" id="paymentDate" placeholder="Ingrese la fecha de pagos">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="monthlyPayment">Cuota mensual</label>
                <input type="number" [(ngModel)]="infoContract.monthlyPayment" class="form-control" id="monthlyPayment" placeholder="Ingrese la cuota mensual">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="totalPayment">Valor total del credito</label>
                <input type="text" [(ngModel)]="infoContract.totalPayment" class="form-control" id="totalPayment" placeholder="Ingrese el valor total del credito">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="installments">Número total de cuotas</label>
                <input type="text" [(ngModel)]="infoContract.installments" class="form-control" id="installments" placeholder="Ingrese el número de cuotas">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="installmentsPayed">Número de cuotas pagadas</label>
                <input type="text" [(ngModel)]="infoContract.installmentsPayed" class="form-control" id="installmentsPayed" placeholder="Ingrese el número de cuotas pagadas">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="percentagePayed">Porcentaje pagado del credito (Sin simbolo %)</label>
                <input type="text" [(ngModel)]="infoContract.percentagePayed" class="form-control" id="percentagePayed" placeholder="Ingrese cuanto ha sido pagado">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="msgApp">Mensaje que se vera en app</label>
                <input type="text" [(ngModel)]="infoContract.msgInApp" class="form-control" id="msgApp" placeholder="Indique mensaje para propietario en app">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="nextInstallment">Proxima cuota a pagar (Número del mes)</label>
                <input type="text"  [(ngModel)]="infoContract.nextInstallmentToPay" class="form-control" id="nextInstallment" placeholder="Indique el mes de la proxima cuota a pagar">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="time_installment">¿Cada cuanto se pagara la cuota?</label>
                <select id="time_installment" [(ngModel)]="infoContract.timeInstallment" class="form-control">
                  <option value="0">Indique el tiempo</option>
                  <option value="1" >Mensual</option>
                  <option value="2" >Semanal</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="odometer">Kilometraje actual</label>
                <input type="text" [(ngModel)]="infoContract.odometer" class="form-control" id="odometer" placeholder="Indique el kilometraje actual del vehículo">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="observation">Observación</label>
                <input type="text" [(ngModel)]="infoContract.observation" class="form-control" id="observation" placeholder="Observaciones">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ruta de mantenimiento</h5>

          <div class="row">
            <div class="col-lg-6" *ngFor="let job of configuration.maintenanceJobs; let i=index">
              <div class="form-group">
                <label for="number">{{job['Job']['Label']}}</label>
                <input (change)="assignJobInfo($event, job['Job']['Name'], 'odometer')" type="number" class="form-control" placeholder="Kilometraje">
                <mat-form-field class="dateOfBirth" >
                  <input matInput (dateChange)="assignJobInfo($event, job['Job']['Name'], 'date')" [matDatepicker]="ii" placeholder="Fecha de realización">
                  <mat-datepicker-toggle matSuffix [for]="ii"></mat-datepicker-toggle>
                  <mat-datepicker #ii></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Documentos del vehículo</h5>

          <div class="row">
            <div class="col-lg-6" *ngFor="let doc of configuration.documents; let i=index">
              <div class="form-group">
                <label for="number">{{doc['Label']}}</label>
                <input attr.data-name="{{doc['Name']}}" (change)="onFileSelected($event)" type="file" class="form-control">
                <mat-form-field class="dateOfBirth" >
                  <input matInput (dateChange)="assignExpirationDate($event, doc['Name'])" [matDatepicker]="i" placeholder="Fecha de vencimiento (Si aplica)">
                  <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                  <mat-datepicker #i></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body center">

            <button (click)="saveAll()" class="btn btn-lg btn-success">Guardar</button>

        </div>
      </div>
    </div>
  </div>

</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>

