<div class="container container-next">
  <div class="row header">
    <div class="col-2">
      <div class="icon-card icon-card-green">
        <img [src]="'assets/icons_name/doc.svg'">
      </div>
    </div>
    <div class="col-8">
      <span class="title-card">{{'home.documents'|translate}}</span>
    </div>
    <div class="col-2">
      <div class="icon-card icon-card-big">
        <div class="icon-card icon-card-dot">
            <img (click)="downloadReport()" class="download-widget" [src]="'assets/icons_name/arrow_down_white.svg'">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="pill">
        <div class="row no-padding-sides">
          <div class="col-3 center no-padding-sides img">
            <img [src]="'assets/icons_name/document_fail.svg'">
          </div>
          <div class="col-6 no-padding-sides">
            <span class="subtitle-card-medium">{{'expired'|translate}}</span>
          </div>
          <div class="col-3 center no-padding-sides"><span class="big-text-card">{{expired}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="pill">
        <div class="row no-padding-sides">
          <div class="col-3 center no-padding-sides img">
            <img [src]="'assets/icons_name/document_alarm.svg'">
          </div>
          <div class="col-6 no-padding-sides">
            <span class="subtitle-card-medium">{{'for'|translate}} {{'beat'|translate}}</span>
          </div>
          <div class="col-3 center no-padding-sides"><span class="big-text-card">{{aboutToExpire}}</span></div>
        </div>
      </div>
    </div>
  </div>

</div>
