<div class="row">
  <div class="col-12" style="max-height: 452px;">
    <div align="right">
      <span class="title-dashboard">Preventivo</span>
      <mat-form-field>
        <mat-select [value]="1" (selectionChange)="changeType($event.value)">
          <mat-option *ngFor="let preventive of preventives" [value]="preventive.value">
            {{preventive.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <ngx-charts-bar-vertical-2d
      *ngIf="showChart"
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi_vertical"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
