<div class="example-container" *ngIf="!isNotLoggedIn()">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #drawer position="start" #snav mode="over" class="mat-side-left">
      <button mat-icon-button (click)="snav.toggle()" class="menu-button-extended">
          <mat-icon style="color: white">menu</mat-icon>
      </button>
      <app-menu-vertical [showText]="true" (closeDrawerEmit)="closeDrawerParent($event)"></app-menu-vertical>
    </mat-sidenav>

    <!--<mat-sidenav #notifications position="end" #snavLeft mode="over" class="mat-side-right" (openedChange)="changeNav($event)">
      <mat-nav-list class="notification-list">
        <app-notification></app-notification>
      </mat-nav-list>
    </mat-sidenav> -->

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="tool-bar">

        <div style="display: inline-flex">
          <div class="bar-menu">
            <button mat-icon-button (click)="snav.toggle()" class="menu-button">
              <mat-icon style="color: white">menu</mat-icon>
            </button>
            <app-menu-vertical [showText]="false" (closeDrawerEmit)="closeDrawerParent($event)"></app-menu-vertical>
          </div>

          <div class="header-title-container">
            <h1 class="header-title">
              {{title}}
            </h1>
          </div>
          <div class="global-container">
            <app-form-global></app-form-global>
          </div>
          <app-all-vehicles></app-all-vehicles>
          <app-menu-massive></app-menu-massive>
          <div class="name-container px-3">
            <div class="name">
              {{name}}
            </div>
          </div>
          <div class="header-buttons">
            <!--<app-header-butttons></app-header-butttons>-->
          </div>
          <!--<div class="header-button-right">
              <button mat-icon-button (click)="snavLeft.toggle()">
                <mat-icon class="navBar-icon">{{navBarStatus}}</mat-icon>
              </button>
          </div>-->
          <!--<div class="bar-alerts">
            <span class="bar-alerts-title">Alertas y recordatorios</span>
            <mat-nav-list class="notification-list">
                <app-notification></app-notification>
              </mat-nav-list>
          </div> -->
        </div>
      </mat-toolbar>
      <app-loader></app-loader>
      <div style="margin-top: 10px; margin-left: 76px; margin-right: 24px;">
        <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<app-loader></app-loader>

<router-outlet *ngIf="isNotLoggedIn()"></router-outlet>
