h1.example-app-name {
  margin-left: 8px;
}

img {
  max-width: 150px;
  max-height: 58px;
}

.mat-side-right {
  width: 260px;
  background-color: #F4F4F4;
}

.mat-side-left {
  width: 150px;
  border-right: white;
  overflow: hidden;
}

.tool-bar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  height: 70px;
  z-index: 1000;
  position: sticky;
}

.header-title-container {
  margin-top: 25px;
  margin-left: 17px;
}

.header-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #323945;
}

.navbar-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #16355E;
  padding: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #E5E5E5
}

.menu-button-extended {
  width: 150px;
  height: 70px;
  background: #1875F0;
  border-radius: 0 0 0 0;
  box-shadow: 0 4px 15px rgba(24, 117, 240, 0.1);
}

.menu-button {
  width: 70px;
  height: 70px;
  background: #1875F0;
  border-radius: 0 0 0 0;
  box-shadow: 0 4px 15px rgba(24, 117, 240, 0.1);
}

.header-image {
  margin-top: 2px;
  margin-left: 25px;
  cursor: pointer;
}

.header-buttons {
  margin-top: 17px;
  right: 0;
  position: absolute;
  margin-right: 95px
}

.header-button-right {
  right: 0;
  position: absolute;
  top: 45vh;
}

.header-button-right button {
  background-color: #1875F0;
  box-sizing: border-box;
  border-radius: 0;
  width: 25px;
  height: 61px;
}

.button-icon {
  color: #1875F0;
  padding-bottom: 15px;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  height: 100%;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.leftSideNav {
  right: 0;
}

.top-bar {
  margin: 10px;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.topBarInput {
  padding: 5px;
}

.global-container {
  margin-left: 60px;
  background-color: white;
  top: 70px;
  height: 65px;
  z-index: 999;
  padding-top: 13px;
  width: 542px;
}

.mat-toolbar.mat-primary .mat-icon {
  color: white;
  padding-bottom: 25px;
}

.bar-menu {
  top: 0;
  position: absolute;
  z-index: 99999;
  height: 100vh;
  background: white;
}

.bar-alerts {
  width: 250px;
  position: absolute;
  right: 0;
  top: 71px;
  height: 100vh;
  background: #F4F4F4;
  padding: 8px;

  overflow: scroll;
}

.bar-alerts-title {
  color: #5D697E;
  font-size: 0.8em;
}
.name-container{
  right: 2%;
  top: 20px;
  position: absolute;
  background: #F8F8F8;
  border-radius: 40px;
  height: 33px;
  text-align: center;
  font-size: 0.9em;
  padding-top: 2px;
  width: 100px;
}

.name{
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  font-size: .6em;
  color: #16355E;;
  margin-top: 8px;
}
