<mat-card>
  <mat-card-header fxFill>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
    <app-operation-dashboard-behaviour [showBarBottom]="false" titleText="{{'recaudo' | translate}}" [titleShown]="false" style="width: 100%;"></app-operation-dashboard-behaviour>
  </mat-card-content>
</mat-card>
