<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingresar pago</h5>
      <div class="row">
        <div class="col-lg-12">
          <input type="file" (change)="onFileChange($event)" multiple="false" />
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Resumen de pagos</h5>
      <div class="row">
        <div class="col-2">
          Vehiculo
        </div>
        <div class="col-2">
          Fecha de cuota
        </div>
        <div class="col-2">
          Monto pagado
        </div>
        <div class="col-2">
          Por pagar de cuota
        </div>
        <div class="col-2">
          Cuota a pagar
        </div>
      </div>

      <div class="row" *ngFor="let payment of dataFinal">
        <div class="col-2">
          {{payment['vehicle']['Plate']}}
        </div>
        <div class="col-2">
          {{payment['paymentDate'] | date: 'dd/MM/yyyy'}}
        </div>
        <div class="col-2">
          {{payment['amount'] | currency}}
        </div>
        <div class="col-2">
          {{payment['installment']['amount'] - payment['installment']['sum'] | currency}}
        </div>
        <div class="col-2">
          {{payment['month']}} - {{payment['year']}}
        </div>
      </div>

      <div class="row" *ngIf="dataFinal.length > 0">
        <div class="col-12">
          <button class="btn btn-success" (click)="savePayments()">Confirmar</button>
        </div>
      </div>

    </div>
  </div>
</div>
