<div class="container" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%">
  <div fxFlex="100%" fxFlexAlign="center" align="center">
    <p align="left">Editar ajustes de usuario</p>

    <hr class="hr-container">

    <div class="account-container">
      <mat-card class="card-container-account">
        <mat-card-header>
          <mat-card-title>
            <p align="left" class="sub-title">
              Editar información de mi cuenta
            </p>
            <hr class="hr-card">
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div align="left">
            <form>
              <div class="item-form">
                <p class="info-text">
                  Dirección de correo electrónico:
                </p>
                <p class="form-email" style="margin-left: 39px">{{email}}</p>
              </div>
              <br>
              <br>
              <div class="item-form">
                <p class="info-text">
                  País:
                </p>
                <mat-form-field style="margin-left: 288px">
                  <mat-select placeholder="Colombia">
                    <mat-option>
                      Perú
                    </mat-option>
                    <mat-option>
                      México
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <br>
              <br>
              <div class="item-form">
                <p class="info-text">
                  Periodo predeterminado:
                </p>
                <mat-form-field style="margin-left: 107px">
                  <mat-select placeholder="Un mes">
                    <mat-option>
                      Dos meses
                    </mat-option>
                    <mat-option>
                      Una semana
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <br>
              <br>
              <div class="item-form">
                <p class="info-text">
                  Cambiar contraseña:
                </p>
                <button mat-button class="change-password" (click)="openChangeDialog()">
                  Definir nueva contraseña
                </button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
      <div align="right" style="margin-top: 26px">
        <button mat-button class="save">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>
