p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 25px;
}

select {
  background-color: #16355E;

}

.account-container {
  margin-top: 30px;
  height: 350px;
  max-width: 95%;
}

.card-container-account {
  width: 100%;
  height: 100%;
}

.hr-container {
  border-top: 1px solid #E2ECFC;
  border-bottom: white;
  padding-top: 16px;
  border-right: white;
  border-left: white
}

.hr-card {
  border-top: 1px solid #E2ECFC;
  border-bottom: white;
  padding-top: 16px;
  border-right: white;
  border-left: white
}

.sub-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 17px;
  color: #323945;
}

.item-form {
  display: inline-flex;
  margin-left: 30px;
}

.info-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 17px;
  color: #323945;
}

.form-email {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 17px;

  color: #323945;
}

.change-password {
  height: 33px;
  background: #1875F0;
  color: white;
  margin-left: 148px;
}

.save {
  height: 45px;
  background: #1875F0;
  border-radius: 8px;
  color: white;
  margin-bottom: 20px;
}
