<div class="container" fxFill>
    <div class="row">
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('payment_widgets') ? '' : 'blur-div'">
        <app-payment-frecuency></app-payment-frecuency>
      </div>
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('payment_widgets') ? '' : 'blur-div'">
        <app-fulfillment></app-fulfillment>
      </div>
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('payment_widgets') ? '' : 'blur-div'">
        <app-debt></app-debt>
      </div>
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('gps_widgets') ? '' : 'blur-div'">
        <app-gps-distance></app-gps-distance>
      </div>
    </div>
    <div class="row" *ngIf="_PermissionService.canAccess('main_chart')">
      <div class="col-12 no-padding-sides">
        <app-table-operations [pageSize]="5"
                              [hidePagination]="false"
                              [hideButtons]="false"
                              [url]="'get-drivers-ranking'"
                              [urlExcel]="'get-drivers-ranking-all'"
                              [columns]="attributeLabels"
                              [pageSizeOptions]="[]"
                              [microService]="scoreMicroService"
                              [classCRow]="'bg-white'"
                              [showBasicBtns]="true"></app-table-operations>
      </div>
    </div>
    <div class="row" *ngIf="_PermissionService.canAccess('variable_chart')">
      <div class="col-12 no-padding-sides">
        <app-variable-graph
        [typesAvailable] = "[
        {name:'paymentFrecuency', label: 'Frecuencia de pago', title: 'Dias promedio'},
        {name:'paymentPercentage', label: 'Cumplimiento', title: 'Porcentaje de pago promedio'},
        {name:'debtAmount', label: 'Deuda vencida', title: 'Monto de deuda vencida'},
        {name:'lowKilometers', label: 'Productividad', title: 'Kilometros recorridos promedio'}
        ]"
        ></app-variable-graph>
      </div>
    </div>
  </div>
  
