<div class="container" fxFill>
    <div class="row">
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('tickets_widget') ? '' : 'blur-div'">
        <app-ticket></app-ticket>
      </div>
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('document_widgets') ? '' : 'blur-div'">
        <app-document></app-document>
      </div>
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('gps_widgets') ? '' : 'blur-div'">
        <app-top-speed></app-top-speed>
      </div>
      <div class="col-3 padding-sides" [ngClass]="_PermissionService.canAccess('gps_widgets') ? '' : 'blur-div'">
        <app-top-distance></app-top-distance>
      </div>
    </div>
    <div class="row">
      <div class="col-12 no-padding-sides" *ngIf="_PermissionService.canAccess('main_chart')">
        <app-table-operations [pageSize]="5"
                              [hidePagination]="false"
                              [hideButtons]="false"
                              [url]="'get-drivers-ranking'"
                              [urlExcel]="'get-drivers-ranking-all'"
                              [columns]="attributeLabels"
                              [pageSizeOptions]="[]"
                              [microService]="scoreMicroService"
                              [classCRow]="'bg-white'"
                              [showBasicBtns]="true"></app-table-operations>
      </div>
    </div>
    <div class="row" *ngIf="_PermissionService.canAccess('variable_chart')">
      <div class="col-12 no-padding-sides">
        <app-variable-graph
        [typesAvailable] = "typesAvailable"
        ></app-variable-graph>
      </div>
    </div>

    <div class="row">
      <div class="col-12 no-padding-sides">
        <!--<app-gps-map></app-gps-map>-->
      </div>
    </div>
  </div>

