<div class="container">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Historial de cargas</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-2"><b>Fecha</b></div>
            <div class="col-2"><b>Total de paquetes</b></div>
            <div class="col-8"><b>Paquetes</b></div>
          </div>
          <div class="row" *ngFor="let load of massiveLoadHistory">
            <div class="col-2">{{load['date'] | date: 'dd/MM/yyyy hh:mm'}}</div>
            <div class="col-2">{{load['number_batches']}}</div>
            <div class="col-8">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Paquetes
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-3"><b>Número de registros</b></div>
                      <div class="col-3"><b>Registros Cargados</b></div>
                      <div class="col-3"><b>Terminado</b></div>
                      <div class="col-3"><b>Registros con errores</b></div>
                    </div>
                    <div class="row" *ngFor="let batch of load['batch']">
                      <div class="col-3">{{batch['total_records']}}</div>
                      <div class="col-3">{{batch['records_load']}}</div>
                      <div class="col-3">{{batch['finished'] === false ? 'No' : 'Si'}}</div>
                      <div class="col-3">{{batch['errors'] === null ? 0 : batch['errors']['errors'].length}}</div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ingresar comparendos</h5>
        <div class="row">
          <div class="col-lg-12">
            <input type="file" (change)="onFileChange($event)" multiple="false" />
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Resumen de comparendos</h5>
        <div class="row">
          <div class="col-6">
            Cantidad
          </div>
          <div class="col-6">
            Monto total
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{quantity}}
          </div>
          <div class="col-6">
            {{amount | suffPipe}}
          </div>
        </div>
  
        <div class="row" *ngIf="dataFinal.length > 0 && validData">
          <div class="col-12">
            <button class="btn btn-success" (click)="saveTickets()">Confirmar</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="true"></ngx-spinner>
