.all-vehicles-container {
  right: 10.5%;
  top: 20px;
  position: absolute;
  background: #F2C94C;
  border-radius: 40px;
  width: 100px;
  height: 33px;
  text-align: center;
  font-size: 0.9em;
  padding-top: 3px;
}

.all-vehicles-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  font-size: .6em;
  color: #16355E;;
  margin-top: 8px;
}

.all-vehicles-count-container {
  background: #1875F0;
  border: 1px solid #1875F0;
  box-sizing: border-box;
  border-radius: 5px;width: 64px;
  height: 41px;
}

.all-vehicles-count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
  margin-top: 7px;
}
