.login-container {
  width: 100%;
  height: 100%;
}

.login-image {
  width: 344px;
  height: 100%;
  background: url("~src/assets/img/Group.png") no-repeat center;
  background-size: cover;
}

.login-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  font-size: 30px;
  color: #FFFFFF;
  top: 105%;
  position: sticky;
  margin-left: 41px;
}

.login-card {
  max-width: 744px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 530px;
  padding: 0;
}

.login-card-container {
  width: 100%;
  height: 100%;
  display: inline-flex
}

.login-form-container {
  width: 400px;
  display: inline-table;
}

.login-title-container {
  margin-top: 62px;
  text-align: center;
}

.login-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #16355E;
}

.img-login{
  width: 100px;
}

.login-form {
  margin-top: 60px;
  position: relative;
  text-align: center;
}

.login-password-container {
  margin-top: 5px;
}

.login-form-item {
  width: 70%;
  margin-top: 20px
}

.login-btn-div{
  width: 100%;
  margin-top: 20px

}

.login-button {
  width: 70%;
  background: #11CB87;
}
