<div class="login-container" align="center" *ngIf="isNotLoggedIn()">
  <mat-card class="login-card">
    <mat-card-content class="login-card-container">
      <div class="login-image">
        <p class="login-text" align="left">
          <strong>TEN EL</strong><br/>
          CONTROL<br/>
          ABSOLUTO DE<br/>
          <strong>TUS ACTIVOS</strong>
        </p>
      </div>
      <div class="login-form-container">
        <div class="login-title-container">
          <img [src]="img" alt="logo" class="img-login" *ngIf="img !== ''">
          <p class="login-title">Financieras</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
          <mat-form-field class="login-form-item">
            <input matInput placeholder="Username" formControlName="user" [errorStateMatcher]="validator">
            <mat-error *ngIf="loginForm.controls['user'].touched && !loginForm.controls['user'].valid">
              {{formError['user']}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="login-form-item">
            <input matInput placeholder="Password" formControlName="password" [errorStateMatcher]="validator"
                   type="password">
            <mat-error *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
              {{formError['password']}}
            </mat-error>
          </mat-form-field>
          <div class="login-password-container">
            <app-forgot-password></app-forgot-password>
          </div>
          <div class="login-btn-div">
            <button class="login-button"
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="submitted">
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
