<mat-card class="no-padding-card" [routerLink]="'/driver/kilometers'" style="cursor:pointer;">
  <mat-card-content>
    <div class="row no-padding-card">
      <div class="col-5 vehicle-div">
        <div class="cars-image" align="center">
          <span><img src="assets/icons_name/power-button.svg" class="icon-menu"></span>
          <div style="display: inline-flex; margin-left: 13px;">
            <p class="vehicle-indicator">
              &nbsp;{{vehiclesOn}}&nbsp;
            </p>
            <p class="vehicle-total-text" *ngIf="showAll">
              / {{vehicleTotal}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-7 vehicle-div vehicle-text vehicle-div-border" align="center">
        {{titleCard}}
      </div>
    </div>
        <ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>
  </mat-card-content>
</mat-card>
