<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <h2 class="title-configuration">Configuración de mail</h2>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-12">
      <hr>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-12">
      <hr>
    </div>

  </div>
</div>
