.speed-container {
  height: 188px;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(24, 117, 240, 0.05);
  background: #FFFFFF;
}

.speed-div {
  height: 188px;
  cursor: pointer;
}

.speed-text {
  font-size: 14px;
  padding-top: 70px;
}

.speed-div-border {
  border-left: 1px solid #D3DCEC;
  padding-left: 0 !important;
}

.center-chart {
  top: 15%;
}
