<div class="white speed-container border-dashboard" align="center">
  <div class="row">
    <div class="col-6 col-6 speed-div center-chart">
      <circle-progress
        [backgroundColor]= "'#FFFFFF'"
        [backgroundStroke]= "'#11cb87'"
        [backgroundStrokeWidth]= "'5'"
        [backgroundPadding]= "'13'"
        [radius]= "'60'"
        [space]= "'-14'"
        [outerStrokeWidth]= "'15'"
        [outerStrokeColor]= "'#3757d7'"
        [innerStrokeColor]= "'#8e3131'"
        [innerStrokeWidth]= "'8'"
        [titleColor]= "'#000000'"
        [titleFontSize]= "'33'"
        [subtitleColor]= "'#000000'"
        [showSubtitle]= false
        [showInnerStroke]= false
        [startFromZero]= false
        [title]="percentText"
        [percent]="percent"
      ></circle-progress>
    </div>
    <div [routerLink]="'/driver/speed'" class="col-6 col-6 speed-text speed-div speed-div-border">
      {{titleCard}}
    </div>

  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>



