/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("assets/css/fontMonserrat.css");
@import url("assets/css/fontPoppins.css");

html, body {
  height: 100%;
  overflow: hidden;
  background-color: #f8f8f8;
}

html *:not(mat-icon) {
  font-family: Montserrat !important;
}

body {
  margin: 0;
}

.header-modal {
  width: 100%;
  height: 55px;
}

.header-close-button {
  float: right;
}

.mat-dialog-container{
  padding: 0px !important;
}

.header-title-button {
  border: 2px solid #5B9BF0;
  background: rgba(91, 155, 240, 0.6);
}

.header-modal-details {
  background: #FFFFFF;
  height: 5px;
  display: flex;
}

.header-modal-details-min {
  background: #FFFFFF;
  height: 40px;
  display: flex;
}

.header-modal-details-min-title {
  color: #828282;
  font-size: 1.5em;
  margin-bottom: 0 !important;
}

.header-modal-close {
  border-radius: 50%;
  position: relative;
  z-index: 0;
  background-color: transparent;
  border: 0 solid;
}

.header-modal-close img {
  max-height: 4vh;
  min-height: 20px;
}

table {
  width: 100%;
}

.cIcon {
  border-radius: 50%;
  display: block;
  padding: 0rem;
  background-color: transparent;
  border: 0 solid;
}

*:focus {
  outline: 0 !important;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 7px;
}

*::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 7px;
}


.container {
  padding: 0 3% 0;
}

.mat-card-header-text {
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 25px;
  width: 155px;
  height: 31px;
}

.component-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 25px;
  margin-left: 60px;
  margin-top: 30px;
}

.container-body {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
}

.filterInput {
  margin-left: 15px;
  margin-top: 20px;
}

.filterInputGlobal {
  width: 100%;
}

.input-search {
  width: 90%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 5px;
  font-size: 1em;
}

.topBarInput .mat-form-field-flex {
  background-color: white;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mat-toolbar.mat-primary {
  background-color: white;
}

.title {
  font-size: 2em;
  color: black;
  font-weight: bolder;
}

.popover-title {
  display: none;
}

.popover {
  border-radius: 8px !important;
  background-color: #1875f0 !important;
  color: white !important;
  font-weight: bolder !important;
  text-decoration: none !important;
}

.popover-content a:hover, .popover-content a {
  color: white !important;
  font-weight: bolder !important;
  text-decoration: none !important;
  font-size: 1.5em;

}

.arrow {
}

.popover.bottom > .arrow:after {
  border-bottom-color: #1875f0 !important;
}

.popover-div {
  float: left;
}

.mat-button-wrapper .button-icon {
  line-height: 12px !important;
}

.mat-toolbar.mat-primary .mat-icon {
  color: black;
}

.topBarInput .mat-form-field-underline {
  display: none;
}

.mat-ink-bar {
  width: 50px !important;
  margin-left: 55px;
  height: 4px !important;
  border-radius: 5px;
}

.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: 0px !important;
}

.mat-tab-group {
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-bottom: 50px !important;
}

.centerText {
  text-align: center;
}

.row {
  padding-bottom: 20px;
  margin: 5px;
}

.center {
  text-align: center;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #1875F0;
}

.custom-modalbox-forgot-password{
  width: 65vw !important;
}

.mat-datepicker-toggle-default-icon{
  width: 3em !important;
}
.mat-datepicker-toggle .mat-icon-button{
  width: 40px !important;
  height: 40px !important;
}



.globalActivateSearch:hover{
  text-decoration: underline !important;
  cursor: pointer !important;
  color: blue !important;
}



.border-dashboard{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.custom-modalbox-update-payment{
  max-width: 95vw !important;
}

.custom-modalbox-update-payment mat-dialog-container{
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mat-paginator-container{
  min-height: 45px !important;
}


.mat-tab-body-content{
  overflow: hidden;
  padding-bottom: 50px;
}

.notification-list{
  overflow-x: hidden;
}

.progress-height {
  height: 17vh;
}

.card-full-height {
  height: 100%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.select-options-collect {
  background: #E2ECFC;
  border-radius: 5px;
  height: 50px;
  padding: 4px;
  padding-top: 15px;
}

.mat-button-toggle-checked .mat-button-toggle-label-content{
  background: #1875F0 !important;
  color: white !important;
  border-radius: 5px;
}

.btn-options-collect mat-button-toggle{
  margin-right: 10px !important;
  background: #E2ECFC;
  border-radius: 5px;
  color: black;
}
.btn-options-collect{
  border: 0 !important;
}

.no-padding-card{
  padding: 0 !important;
}



.normal-score {
  color: #F2994A !important;
  font-weight: bolder;
}

.up-score {
  color: #219653 !important;
  font-weight: bolder;
}

.down-score {
  color: #EB5757 !important;
  font-weight: bolder;
}


.maintenance-table-container{
  height: 300px;
}


.check-table-container{
  height: 460px;
}

.dateOfBirth{
  width: 100%;
}

.topBarInput .mat-form-field-wrapper {
  padding: 0;
  border: 1px solid #E3E3E3;

}

.topBarInput .mat-form-field-flex {
  height: 43px;
}

.topBarInput .mat-form-field-flex input{
  padding-bottom: 5px;
}



.topBarInput .mat-form-field-infix {
  border: 0;
  color:black;
}

.input-search .mat-form-field-infix {
  border: 0;
  color:black;
}

.filterInputGlobal .mat-form-field-label-wrapper {
  top: 0px;
  left: 10px;
  width: 80%;
}
.input-search {
  padding-top: 8px !important;
  padding-left: 10px !important;
  
}

div.google_chart svg g g g g rect { 
  stroke-width:0px; fill:#11CB87; 
  }

.gps-icon {
  width: 27px;
  height: 27px;
  padding-left: 0px;
  border-radius: 20px;
  margin-left: 27px;
  padding-top: 5px;
}

.call-icon {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 6px;
  background-color: #1875F0;
}

.gps-icon-red {
  background: #EB5757;
}

.gps-icon-yellow {
  background: #F2C94C;
}

.gps-icon-green {
  background: #27AE60;
}
.mat-sort-header-button {
  display: initial !important;
  flex: 0 0 100%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em !important;

}
.mat-sort-header-container {
  display: initial !important;
}

.mat-cell {
  width: 100px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.container-call {
  background-color: #E5E5E5;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}

.selector-chart-report .mat-form-field {
  background: #F5F9FF;
  border-radius: 30px;
  width: 100%;
  margin-top: 17px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 10px;
  height: 50px;
}

.selector-chart-report .mat-form-field-underline {
  height: 0px !important;
}

.selector-chart-report .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

.mat-optgroup-label {
  font-size: 13px !important;
  font-weight: bolder;
}

.mat-option-text {
  font-size: 12px;
}

.selector-chart-report .mat-select-value, .selector-chart-report .mat-select-placeholder  {
    color: #1875F0 !important;
    font-weight: bold !important;
    font-size: 14px  !important;
}

.dates .mat-datepicker-toggle .mat-icon-button {
  display: none !important;
}

.dates .topBarInput .mat-form-field-flex {
  line-height: 22px !important;
  height: 35px !important;
}

.blur-div {
  opacity: 0.2;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(5px);
}


.md-sidenav-backdrop {
  opacity: 0 !important;
}

md-sidenav.md-closed-add,
md-sidenav.md-closed-remove,
md-sidenav.md-closed-add.md-closed-add-active, 
md-sidenav.md-closed-remove.md-closed-remove-active,
md-sidenav.md-locked-open-remove-active,
md-sidenav.md-closed.md-locked-open-add-active

{
  -webkit-transition: none !important;
  transition: none !important;
}