.maintenance-title-container {
  height: 57px;
}

.maintenance-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 1.7em;
  position: absolute;
  top: 40%;
}

.maintenance-center {
  top: 5%;
}

.gauge-maintenance{
  padding-top: 20px;
}

.text-maintenance {
  font-family: Montserrat;
  text-align: center;
  margin-top: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.5em;
}

.white {
  background-color: white;
  border-radius: 15px;
}
