<mat-card>
  <mat-card-header fxFill>
    <mat-card-title>
      <div fxFlex="100%" class="left">
        <a routerLink="/driver/operation-dashboard" routerLinkActive="active" class="link-title">
          Ruta de mantenimiento
        </a>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="row">
      <div class="col-4" align="center">
        <circle-progress
          [radius]="60"
          [space]="-10"
          [outerStrokeWidth]="7"
          [subtitleFontSize]="30"
          [subtitleColor]="'#000000'"
          [outerStrokeColor]="'#EB5757'"
          [showInnerStroke]="false"
          [showTitle]="false"
          [subtitle]="percentageTitle"
          [animateTitle]="false"
          [animationDuration]="1000"
          [showUnits]="false"
          [showBackground]="false"
          [clockwise]="false"
          [startFromZero]="false"
          [percent]="percentage"
          [maxPercent]="100"
        ></circle-progress>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            de los vehículos han asistido a su ruta de mantenimiento.
          </div>
          <div class="col-12">
            <!--<app-driver-assist-average></app-driver-assist-average>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12  maintenance-table-container">
      <app-table [columns]="attributeLabelsMaintenance"
                 [url]="'get-maintenances-preventives'"
                 [urlExcel]="'get-maintenances-preventives-table'"
                 [pageSize]="3"
                 [hideButtons]="false"
                 [hidePagination]="false"
                 [microService]="maintenanceMicroService"
                 [pageSizeOptions]="[]"
      ></app-table>
    </div>
    <ngx-spinner type="ball-clip-rotate-multiple" [size]="'large'" [bdColor]="'rgba(219,209,209,0.69)'" [fullScreen]="false"></ngx-spinner>
  </mat-card-content>
</mat-card>
