<div class="container container-next  no-padding-sides no-padding-bottom">
  <div class="row header">
    <div class="col-2">
      <div class="icon-card icon-card-blue">
        <img [src]="'assets/icons_name/hand.svg'">
      </div>
    </div>
    <div class="col-4">
      <span class="title-card">Inspecciones</span>
    </div>
    <div class="col-6">
      <div class="icon-card icon-card-dot">
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px;">
    <div class="col-7 center line-height-medium-center">
      <span class="subtitle-card-blue-medium2 ">Cantidad de vehículos con calificación muy baja</span>
    </div>
    <div class="col-5 line-height-medium">
      <span class="subtitle-card-white">Número de inspecciones realizadas en el periodo</span>
    </div>
  </div>

  <div class="row" style="padding-top: 5px;">
    <div class="col-7 center">
      <span class="very-big-text-card ">{{lowInspections}}</span>
    </div>
    <div class="col-5 center">
      <span class="very-big-text-card-white">{{totalInspections}}</span>
    </div>
  </div>

</div>
