table {
  width: 100%;
}

/*table tr:hover td {
  background: #1875F0;
  color: #fff;
  border-color: #1875F0;
}*/

  /* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

td.no_info{
  background-color: #ff5c50;
  text-align: center;
  padding-right: 0 !important;
  color: white;

}

td.on_day{
  background-color: #00da89;
  text-align: center;
  padding-right: 0 !important;
  color: white;
}

td.no_go{
  background-color: #f8f8f8;
  text-align: center;
  padding-right: 0 !important;
}
