<div class="example-container">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Error
    </div>
  </div>
  <div class="example-table-container">

    <div align="right" [hidden]="hideButtons">
      <button (click)="openDialogUpdate()" mat-icon-button>
        <mat-icon>add_alert</mat-icon>
      </button>
      <button (click)="downloadExcel()" mat-icon-button>
        <mat-icon>archive</mat-icon>
      </button>
    </div>

    <table mat-table matSort [dataSource]="dataSource">

      <ng-container *ngFor="let column of columns;" matColumnDef="{{ column.name }}">

        <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ column.name }}">
          {{ column.displayName  | translate}}
        </th>

        <td mat-raised-button [matTooltip]="column.type === 'plateGlobal' ? row[column.name].split('|')[0] : '' " mat-cell *matCellDef="let row" [ngClass]="[centerText, colorClass(row,column)]" [innerHTML]="row[column.name] | safe:row:column">
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div [hidden]="hidePagination">
      <mat-paginator [pageSize]="pageSize"
                     [length]="resultsLength"
                     [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>
  </div>
</div>

