.map {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
}

.gradient {
  width: 153px;
  height: 24px;
  background: linear-gradient(270deg, #FF6B00 0%, #CCC900 24.86%, #91DE00 54.14%, #5AF100 80.66%, #33FF00 100%);
  border-radius: 6px;
  margin-top: 5px;
}

.floating-panel {
  left: 0;
  right: 0;
  z-index: 3;
  width: 336px;
  height: 35px;
  background: white;
  margin-top: 24px;
  margin-left: auto;
  border-radius: 8px;
  margin-right: auto;
  position: absolute;
  display: inline-flex;
}

.floating-panel-zoom > div{
  width: 100%;
  font-size: 15px;
  font-weight: bolder;
}

.floating-panel-zoom {
  left: 0;
  right: 0;
  z-index: 3;
  width: 336px;
  height: 35px;
  background: white;
  margin-top: 62px;
  margin-left: auto;
  border-radius: 8px;
  margin-right: auto;
  position: absolute;
  display: inline-flex;
  text-align: center;
}

.map-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10px;
  color: #323945;
  padding: 10px 10px 0 10px;
}

.custom-marker{
  width: 15px;
  height: 15px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
}
