<ngui-map 
zoom="11" 
center="{{lat}}, {{lng}}" 
[mapTypeId]="mapType" 
class="map" 
(zoom_changed)="showPoints($event)"

[streetViewControl]="false"
[fullscreenControl]="false"
[mapTypeControl]="false"
[zoomControl]="false">


  <custom-marker *ngFor="let point of pointsArray" [position]="[point['lat'], point['lng']]" >
    <div class="custom-marker" *ngIf="showMarkerPlate">
      {{point['plate']}}
    </div>
  </custom-marker>

  <heatmap-layer
    [data]="points"
    [radius]="15"
  ></heatmap-layer>
</ngui-map>
