.text-filter{
  font-size: 0.5em;
  cursor: pointer;
}

.text-filter-search{
  font-size: 0.5em;
  margin-left: 5px;
  margin-right: 5px;
}

.margin-sides{
  margin-left: 0px;
  margin-right: 0px;

}

.label-text {
  font-size: 0.5em;
  background-color: white;
  color: black;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 7px;
  padding-bottom: 2px;
}

.btn-apply {
    border-radius: 5px;
    color: white;
    font-size: 0.5em;
    font-weight: bolder;
    border: 1px solid #E3E3E3;
    padding: 0;
    margin-left: 8px;
    background: #1875F0;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
