<form [formGroup]="globalForm">
  <div class="center">
    <mat-form-field class="filterInputGlobal topBarInput text-filter-search" fxFlex="25%" #optionGlobal>
      <input type="text" placeholder="Buscar Crédito" aria-label="Number" matInput
             [formControl]="myControl"
             formControlName="searchGlobal" [matAutocomplete]="auto" class="input-search" #optionGlobal
             value="{{currentSelected}}">
      <mat-icon matSuffix (click)="clearSearch()" style="position:absolute; cursor: pointer; top: -14px; right: -3px;">
        close
      </mat-icon>
      <mat-icon matSuffix style="position:absolute; top: -14px; right: 175px;">search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of optionsGlobal" [value]="option">
          {{option.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-label class="label-text">Fecha Inicial:</mat-label>
    <mat-form-field class="topBarInput margin-sides" fxFlex="25%">
      <input matInput (click)="picker1.open()" [min]="minDateContract" [max]="endDate.value" [matDatepicker]="picker1"
             [formControl]="startDate" class="text-filter">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-label class="label-text">Fecha Final:</mat-label>
    <mat-form-field class="topBarInput margin-sides" fxFlex="25%">
      <input matInput (click)="picker2.open()" [max]="startDateMax" [min]="startDate.value" [matDatepicker]="picker2"
             [formControl]="endDate" class="text-filter">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-label class="label-text">Cosechas:</mat-label>
    <mat-form-field class="topBarInput margin-sides" fxFlex="25%">
      <mat-select [formControl]="harvest" multiple (selectionChange)="fixOption($event)">
        <mat-option #allSelected value="0">Todos</mat-option>
        <mat-option *ngFor="let harvestValue of harvestList"
                    [value]="harvestValue.id">{{harvestValue.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn-apply" (click)="applyFilter()">Aplicar</button>
  </div>
</form>
