<div class="container container-next  no-padding-sides no-padding-bottom">
  <div class="row header">
    <div class="col-12">
      <span class="title-card">Promedio de calificación: puntajes</span>
    </div>
  </div>

  <div class="row">
    <div class="col-3 container-variable no-padding-sides">
      <div class="container-inside">

          <div class="row no-padding-sides">
            <div class="col-4 padding-litle">
              <div class="icon-card icon-card-yellow-bold">
                <img [src]="'assets/icons_name/pistons.svg'">
              </div>
            </div>
            <div class="col-8 no-padding-sides">
              <span class="litle-title-card-medium">Aceite Motor</span>
            </div>
          </div>
          <div class="row no-padding-sides">
            <div class="col-12 padding-litle center">
                <span class="value-result">{{variables.first}}</span>
            </div>
          </div>
      </div>
    </div>
    <div class="col-3 container-variable no-padding-sides">

      <div class="container-inside">

        <div class="row no-padding-sides">
          <div class="col-4 padding-litle">
            <div class="icon-card icon-card-yellow-bold">
              <img [src]="'assets/icons_name/brake.svg'">
            </div>
          </div>
          <div class="col-8 no-padding-sides">
            <span class="litle-title-card-medium">Liquido Frenos</span>
          </div>
        </div>
        <div class="row no-padding-sides">
          <div class="col-12 padding-litle center">
              <span class="value-result">{{variables.second}}</span>
          </div>
        </div>

      </div>

    </div>
    <div class="col-3 container-variable no-padding-sides">
      <div class="container-inside">

          <div class="row no-padding-sides">
            <div class="col-4 padding-litle">
              <div class="icon-card icon-card-yellow-bold">
                <img [src]="'assets/icons_name/diesel.svg'">
              </div>
            </div>
            <div class="col-8 no-padding-sides">
              <span class="litle-title-card-medium">Radiador</span>
            </div>
          </div>
          <div class="row no-padding-sides">
            <div class="col-12 padding-litle center">
                <span class="value-result">{{variables.third}}</span>
            </div>
          </div>

      </div>

    </div>
    <div class="col-3 container-variable no-padding-sides">
      <div class="container-inside">

          <div class="row no-padding-sides">
            <div class="col-4 padding-litle">
              <div class="icon-card icon-card-yellow-bold">
                <img [src]="'assets/icons_name/timing-belt.svg'">
              </div>
            </div>
            <div class="col-8 no-padding-sides">
              <span class="litle-title-card-medium">Liquido refrigerante</span>
            </div>
          </div>
          <div class="row no-padding-sides">
            <div class="col-12 padding-litle center">
                <span class="value-result">{{variables.fourth}}</span>
            </div>
          </div>

      </div>

    </div>
  </div>


</div>
