.container-variable{
    margin: 0 auto;
}

.container-inside{
    background: #16355E;
    width: 95%;
    height: 76px;
    border-radius: 5px;
    margin: 0 auto;
}
.value-result {
    color: white;
    font-size: 1em;
    font-weight: bolder;
}