<div class="container container-next  no-padding-sides no-padding-bottom">
  <div class="row header">
    <div class="col-2">
      <div class="icon-card icon-card-grey">
        <img [src]="'assets/icons_name/target.svg'">
      </div>
    </div>
    <div class="col-8">
      <span class="title-card">Inspecciones</span>
    </div>
    <div class="col-2">
      <div class="icon-card icon-card-big">
        <div class="icon-card icon-card-dot">
            <img (click)="downloadReport()" class="download-widget" [src]="'assets/icons_name/arrow_down_white.svg'">

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 line-height" style="padding-top: 8px;">
        <span class="subtitle-card-medium2">Promedio de asistencia</span>
    </div>
    <div class="col-4">
        <span class="very-big-text-card-blue">0%</span>
    </div>
  </div>

  <div class="row no-padding-sides inspection-container">
      <div class="col-12 no-padding-sides">
        <div class="row">
          <div class="col-3 center">
            <span class="big-text-card">{{percentage}}%</span>
          </div>
          <div class="col-6 center  line-height-medium">
              <span class="subtitle-card-medium2">Tiene menos de</span>
          </div>
          <div class="col-3 center line-height-medium" >
              <span class="big-text-card">0pts</span>
              <br><span class="subtitle-card">Calificación</span>
          </div>
        </div>
      </div>
    </div>


</div>
